<section class="mt2 account-order-grid">
  <div class="account-order-grid__container">
    <h3 class="h4 account-order-grid__title align-c">{{ 'customer.orders.title' | t }}</h3>

    {%- paginate customer.orders by 10 -%}
      {%- if customer.orders.size > 0 -%}
        <table class="p1 responsive-table account-order-grid__table">
          <thead>
          <tr>
            <th class="h5">{{ 'customer.orders.order_number' | t }}</th>
            <th class="h5">{{ 'customer.orders.date' | t }}</th>
            <th class="h5">{{ 'customer.orders.payment_status' | t }}</th>
            <th class="h5">{{ 'customer.orders.shipping_status' | t }}</th>
            <th class="h5">{{ 'customer.orders.total' | t }}</th>
          </tr>
          </thead>
          <tbody>
          {%- for order in customer.orders -%}
            <tr>
              <td data-label="{{ 'customer.orders.order_number' | t }}">
                <a href="{{ order.customer_url }}" class="underline pl1 text-label text-accent"><strong>{{ order.name }}</strong></a>
              </td>
              <td data-label="{{ 'customer.orders.date' | t }}">{{- order.created_at | date: '%b %d, %Y' -}}</td>
              <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
              <td data-label="{{ 'customer.orders.shipping_status' | t }}">{{ order.fulfillment_status_label }}</td>
              <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
            </tr>
          {%- endfor -%}
          </tbody>
        </table>

        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
      {%- else -%}
        <div class="w1 d-table">
          {%- assign text = 'customer.account.history_empty' | t -%}
          {%- assign button_text = 'customer.account.shop_now' | t -%}
          {%- render 'empty-view', show_button: true, text: text, button_text: button_text -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</section>
