{%- paginate customer.addresses by 50 -%}
<div class="relative account-address mb1" data-module="account-address">
  <div class="account-address__anchor" ref="newAddressForm"></div>
  <transition name="fade">
    <div v-if="showNewAddressForm" v-cloak>
      {%- render 'account-new-address' -%}
    </div>
  </transition>

  <h3 class="h4 account-address__title align-c">{{ 'customer.addresses.title' | t }}</h3>
  {%- if customer.addresses.size != 0 -%}
    <div class="account-address__list" v-cloak>
    {%- for address in customer.addresses -%}
      {%- assign default = '' -%}
      {%- if address == customer.default_address -%}
        {%- assign default = 1 -%}
      {%- endif %}
      <div
        is="account-address-item"
        first-name="{{- address.first_name -}}"
        last-name="{{- address.last_name -}}"
        company="{{- address.company -}}"
        address1="{{- address.address1 -}}"
        address2="{{- address.address2 -}}"
        city="{{- address.city -}}"
        province="{{- address.province_code -}}"
        zip="{{- address.zip -}}"
        country="{{- address.country_code -}}"
        phone="{{- address.phone -}}"
        is-default="{{- default -}}"
        key="address-{{- address.id -}}"
        id="{{- address.id -}}"
        @update="populateAddressForm"
        inline-template>
      <div class="account-address__item relative bg-secondary-background">
          <h5 v-if="isDefault" class="h5 account-address__default">{{- 'customer.addresses.default' | t -}}</h5>
          <div class="account-address__body">
            <span class="account-address__name">
              <span v-text="firstName + ' ' + lastName"></span>
            </span>
            <br v-if="company">
            <span v-if="company" v-text="company"></span>
            <br>
            <span v-text="address1 + ' ' + address2"></span>
            <br>
            <span v-text="city"></span>
            <span v-if="province" class="uppercase" v-text="' ' + province"></span>
            <span class="uppercase" v-text="' ' + zip"></span>
            <span class="uppercase" v-text="' ' + country"></span>
            <br>
            <span v-text="phone"></span>
          </div>
          <div class="account-address__footer">
            <button class="link underline" @click="update">{{ 'customer.addresses.edit' | t }}</button>
            <button class="link underline" @click="remove">{{ 'customer.addresses.remove' | t }}</button>
          </div>
        </div>
      </div>
      {%- assign default = nil -%}
    {%- endfor -%}
    </div>
  {%- else -%}
    <div class="w1 d-table">
      {%- assign text = 'customer.account.empty' | t -%}
      {%- render 'empty-view', is_vue: true, text: text -%}
    </div>
  {%- endif -%}
  <div class="align-c account-adddress__add-address">
    {%- assign value = 'customer.addresses.add_new' | t -%}
    {%- render 'button',
      value: value,
      class: 'btn--primary btn--full-width',
      attr: 'v-on:click="showEmptyForm"' -%}
  </div>
</div>
{%- endpaginate -%}
