<section class="account-nav__wrapper">
  <div class="mha">
    <div class="account-nav__header f aic jcc relative">
      <h1 class="h2 account-nav__title">{{ 'customer.account.title' | t }}</h1>
    </div>

    <nav class="account-nav p1 mb2 mt0">
      <ul class='list--reset f jcc'>
        <li class="account-nav__link{% if template contains 'account' or template contains 'order' %} account-nav__link--active{% endif %}">
          {%- if template contains 'account' -%}
            <span>{{ 'customer.account.view_orders' | t }}</span>
          {%- else -%}
            <a class="link" href="/account">{{ 'customer.account.view_orders' | t }}</a>
          {%- endif -%}
        </li>
        <li class="account-nav__link{% if template contains 'address' %} account-nav__link--active{% endif %}">
          {%- if template contains 'address' -%}
            <span>{{ 'customer.account.view_addresses' | t }}</span>
          {%- else -%}
            <a class="link" href="/account/addresses">{{ 'customer.account.view_addresses' | t }}</a>
          {%- endif -%}
        </li>
      </ul>
    </nav>
  </div>
</section>
