{%- comment -%}
  Parameters
  * name
  * company
  * street
  * city
  * province
  * zip
  * country
  * phone
  * default
  * edit
{%- endcomment -%}

<div class="account-order-address relative">
  <p class="mv0">
    <span class="inline-block">{{- name -}}</span><br>
    {%- if company -%}{{- company -}}<br>{%- endif -%}
    {{- street -}}<br>
    {{ city }}{%- if province -%}, {{ province | upcase }} {%- endif -%} {{ zip | upcase }}<br>
    {{- country -}}<br>
    {%- if phone -%}{{- phone -}}{%- endif -%}
  </p>
</div>
