{%- comment -%}
  Parameters
  * blocks
{%- endcomment -%}

{%- assign image = article.image.src | img_url: '2160x' -%}
{%- assign image_intermediate = article.image.src | img_url: '1200x' -%}
{%- assign image_mobile = article.image.src | img_url: '700x' -%}

{%- capture image_sources -%}
  {%- if image_mobile != blank -%}
    {{- image_mobile -}}
  {%- endif -%}
  {%- if image_intermediate != blank -%}
    |{{- image_intermediate -}}
  {%- endif -%}
  {%- if image != blank -%}
    |{{- image -}}
  {%- endif -%}
{%- endcapture  -%}

{%- assign video_url = article.metafields.media.video_url -%}

{%- capture social_sharing_content -%}
  {%- if blocks.size > 0 -%}
    {%- assign current_url = shop.url | append: article.url -%}

    <div class="social-links social-links--hero-small f aic">
      {%- for block in blocks -%}
        {%- assign handleized_title = block.settings.title | handleize -%}

        {%- case handleized_title -%}
          {%- when 'facebook' -%}
            {%- assign link = 'https://www.facebook.com/sharer/sharer.php?u=' | append: current_url -%}
          {%- when 'twitter' -%}
            {%- assign link = 'https://twitter.com/intent/tweet?url=' | append: current_url -%}
          {%- when 'pinterest' -%}
            {%- assign link = 'https://pinterest.com/pin/create/button/?url=' | append: current_url -%}
          {%- when 'linkedin' -%}
            {%- assign link = 'https://www.linkedin.com/shareArticle?mini=true&url=' | append: current_url -%}
          {%- when 'tumblr' -%}
            {%- assign link = 'http://www.tumblr.com/share?v=3&u=' | append: current_url -%}
          {%- when 'email' -%}
            {%- assign link = 'mailto:info@example.com?body=' | append: current_url | append: '%0A' -%}
          {%- else -%}
            {%- continue -%}
        {%- endcase -%}

        <div class="social-links__icon">
          <a href="{{- link -}}" target="_blank">
            {%- assign icon = 'icon-' | append: handleized_title -%}

            {%- render 'icon' with icon -%}

            <span class="sr-only">{{ block.settings.title }}</span>
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endcapture -%}

<div class="hero-small--article">
  {%- render 'hero-small',
    type: 'image',
    social_sharing_content: social_sharing_content,
    is_dynamic: false,
    tagline: category,
    title: article.title,
    description: article.excerpt,
    image_sources: image_sources,
    video_url: video_url
  -%}
</div>
