{%- comment -%}
  Parameters
  * class
  * current_tag
{%- endcomment -%}

{%- unless template == 'index' or template == 'cart' -%}
  <div class="p2 breadcrumbs{% if class != blank %} {{ class }}{% endif %}{% if inverted_mode %} breadcrumbs--inverted{% endif %}">
    <div class="container container--xl breadcrumbs__container">
      <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
      <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="underline inline-block breadcrumbs__link" itemprop="item" href="{{- shop.url -}}">
          <span class="breadcrumbs__text" itemprop="name">{{- 'general.breadcrumbs.home' | t -}}</span>
        </a>
        <meta itemprop="position" content="1" />
        <span class="inline-block mr025" aria-hidden="true">/</span>
      </li>
      {%- if template == 'blog' -%}
        {%- if current_tag != blank -%}
          <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="underline inline-block breadcrumbs__link" itemprop="item" href="{{- blog.url -}}">
              <span class="breadcrumbs__text" itemprop="name">{{- blog.title -}}</span>
            </a>
            <meta itemprop="position" content="2" />
            <span class="breadcrumbs__text" aria-hidden="true">/</span>
          </li>
          <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span class="breadcrumbs__text" itemprop="name">{{- current_tag -}}</span>
            <meta itemprop="position" content="3" />
          </li>
        {%- else -%}
          <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span class="breadcrumbs__text" itemprop="name">{{- blog.title -}}</span>
            <meta itemprop="position" content="2" />
          </li>
        {%- endif -%}

      {%- elsif template == 'article' -%}
        <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="underline inline-block breadcrumbs__link" itemprop="item" href="{{- blog.url -}}">
            <span class="breadcrumbs__text" itemprop="name">{{- blog.title -}}</span>
          </a>
          <meta itemprop="position" content="2" />
          <span class="inline-block mr025" aria-hidden="true">/</span>
        </li>
        {%- if current_tag != blank -%}
          <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="underline inline-block breadcrumbs__link" itemprop="item" href="{{- blog.url -}}/tagged/category-{{- current_tag | handle -}}">
              <span class="breadcrumbs__text" itemprop="name">{{- current_tag -}}</span>
            </a>
            <meta itemprop="position" content="{%- if current_tag != blank -%}3{%- else -%}2{%- endif -%}" />
            <span class="inline-block mr025" aria-hidden="true">/</span>
          </li>
        {%- endif -%}
        <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumbs__text" itemprop="name">{{- article.title | truncate: 15, "..." -}}</span>
          <meta itemprop="position" content="{%- if current_tag != blank -%}4{%- else -%}3{%- endif -%}" />
        </li>
      {%- elsif template contains 'product' -%}
        {%- if collection.url -%}
          <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="underline inline-block breadcrumbs__link" itemprop="item" href="{{- collection.url -}}">
              <span class="breadcrumbs__text" itemprop="name">{{- collection.title -}}</span>
            </a>
            <meta itemprop="position" content="2" />
            <span class="inline-block mr025" aria-hidden="true">/</span>
          </li>
        {%- else -%}
          {%- assign first_collection = product.collections | first -%}
          <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="underline inline-block breadcrumbs__link" itemprop="item" href="{{- first_collection.url -}}">
              <span class="breadcrumbs__text" itemprop="name">{{- first_collection.title -}}</span>
            </a>
            <meta itemprop="position" content="2" />
            <span class="inline-block mr025" aria-hidden="true">/</span>
          </li>
          {%- assign first_collection = nil -%}
        {%- endif -%}
        <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumbs__text" itemprop="name">{{- product.title -}}</span>
          <meta itemprop="position" content="3" />
        </li>
      {%- elsif template contains 'list-collections' -%}
        <li class="inline-block breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumbs__text" itemprop="name">{{- 'general.breadcrumbs.collection_listing' | t -}}</span>
          <meta itemprop="position" content="2" />
        </li>
      {%- endif -%}
    </ol>
    </div>
  </div>
{%- endunless -%}
