{%- assign location = location | default: 'default' -%}

{%- unless location == 'mini-cart' -%}
<div data-module="cart-grid">
{%- endunless -%}

<div is="cart-grid" inline-template ref="cartGrid">
  <section
    class="cart-grid cart-grid--{{- location | default: 'default' -}}"
    :class="{ 'cart-grid--mobile': isMobile }"
    ref="cartMain">
    <div class="cart-grid__inner">
      {%- unless location == 'mini-cart' -%}
        <div class="container container--l">
          {%- render 'shipping-calculator' -%}
        </div>
        <div class="w1">
          <div class="cart-grid__header">
            <div class="container container--l">
              <h1 class="h3">
                {{- 'cart.general.title' | t -}}
              </h1>
            </div>
          </div>
        </div>
      {%- endunless -%}

      <div class="cart-grid__content">
        <div class="cart-grid__container container container--l" :class="{ '{% comment %} empty cart styles {% endcomment %}': isEmpty }">
          <div class="cart-grid__container-inner" v-cloak v-if="!isEmpty">
            <form
              action="/cart"
              method="post"
              novalidate
              class="cart-grid__form">

              <transition name="fade-down">
                <div v-if="cart.errors && cart.errors.length" class="error">
                  <p>There are errors with your cart:</p>
                  <ul>
                    <li v-for="error in cart.errors" v-html="error"></li>
                  </ul>
                </div>
              </transition>
              <div v-if="checkForValues">
                {%- unless template == 'cart' -%}
                  <div v-if="checkForValues == 'sweats'">
                    {%- render 'discount-callout', tagged: 'sweats', location: 'mini-cart' -%}
                  </div>
                  <div v-else-if="checkForValues == 'tees'">
                    {%- render 'discount-callout', tagged: 'tees', location: 'mini-cart' -%}
                  </div>
                  <div v-else-if="checkForValues == 'both'">
                    {%- render 'discount-callout', tagged: 'both', location: 'mini-cart' -%}
                  </div>
                {%- endunless-%}
              </div>
              <div ref="cart" class="cart-grid__items w1" :class="{ 'is-loading': loading }">
                <div class="cart__header table__row-header label">
                  <div class="cart__header__item table__cell">Item</div>
                  <div class="cart__header__item table__cell align-l">Price</div>
                  <div class="cart__header__item table__cell align-l">Quantity</div>
                  <div class="cart__header__item table__cell align-r">Total</div>
                </div>
                <transition-group name="fade-left" tag="div" class="cart__body w1">
                  {%- render 'cart-item' -%}
                </transition-group>
                <div data-rebuy-id="13081"></div>
              </div>
              <div class="cart__footer">
                <div :class="{ 'is-open': isGiftMessageOpen }" class="cart__gift-message">
                  <label for="cart__gift-message-input" class="cart__gift-message-label f aic">
                    Add a Gift Message
                    <button type="button" @click.prevent="toggleGiftMessage" class="cart__gift-message-toggle" aria-label="Toggle Message"></button>
                  </label>
                  <transition name="fade">
                    <textarea v-show="isGiftMessageOpen" id="cart__gift-message-input" class="cart__gift-message-input" name="attributes[gift-message]"></textarea>
                  </transition>
                </div>
                <div class="cart__checkout">
                  <h3 class="p2 cart__subtotal f aic">
                    {{- 'cart.general.subtotal' | t -}} <span class="cart__subtotal-price inline-block" v-html="subtotal">{{- cart.total_price | money -}}</span>
                  </h3>
                  <div class="cart__footer-bottom">
                    {%- if location == 'mini-cart' -%}
                      {%- assign value = 'cart.general.checkout' | t -%}
                      {%- render 'button',
                        value: value,
                        type: 'submit',
                        id: 'checkout',
                        name: 'checkout',
                        class: 'btn--primary btn--full-width' -%}
                      <div is="afterpay-priceline" id="cart-afterpay" :amount="cart.total_price" :is-gift-card="hasGiftCard" :is-mini-cart-open="app.isMiniCartOpen"></div>
                      <p class="p2 pt1 align-c italic cart__footer-bottom-text">
                        {{- 'cart.general.shipping_at_checkout' | t -}}
                      </p>
                    {%- else -%}
                      <p class="p2 pt1 pb1 p2 italic w1 cart__footer-bottom-text">{{- 'cart.general.shipping_at_checkout' | t -}}</p>
                      {%- assign value = 'cart.general.checkout' | t -%}

                      <div class="cart__footer-bottom-wrapper">
                        {%- render 'button',
                          value: value,
                          id: 'checkout',
                          type: 'submit',
                          name: 'checkout',
                          class: 'btn--primary btn--full-width cart__footer-bottom-submit' -%}
                        <a href="/" class="link underline p2 cart__footer-bottom-link">{{- 'cart.general.keep_shopping' | t -}}</a>
                      </div>
                      <div is="afterpay-priceline" id="cart-afterpay" :amount="cart.total_price" :is-gift-card="hasGiftCard" :load="true"></div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div v-cloak v-if="isEmpty">
            <div class="align-c">
              <h3>{{- 'cart.general.empty' | t -}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="sr-only" aria-live="assertive" ref="removedItemStatus" id="status"></p>

    <transition name="fade-in-down">
      <div v-show="loading">
        <div class="spinner spinner--lg spinner--abs is-active">
        </div>
      </div>
    </transition>
  </section>
</div>

{%- unless location == 'mini-cart' -%}
</div>
{%- endunless -%}
