{%- comment -%}
  Parameters
  * name
  * value
  * label
  * checked
  * dynamic_checked
  * class
  * required
  * on_change
{%- endcomment -%}
{%- assign dynamic_checked = dynamic_checked | default: false -%}
{%- assign required = required | default: false -%}

<label class="checkbox {{ class }}" is="checkbox" label="{{- label -}}">
  <input
    type="checkbox"
    {%- if name -%}name="{{- name -}}"{%- endif -%}
    {%- if value -%}value="{{- value -}}"{%- endif -%}
    {%- if checked -%}checked="{{- checked -}}"{%- endif -%}
    {%- if dynamic_checked -%}:checked="{{- dynamic_checked -}}"{%- endif -%}
    {%- if required-%}required="{{- required -}}"{%- endif -%}
    {%- if on_change -%}@change="{{- on_change -}}"{%- endif -%} />
    <span class="pointer checkbox__label p2">{{- label -}}</span>
</label>
