<div class="contacts-info{% unless class == blank %} {{ class }}{% endunless %}">
  {%- if description != blank -%}
    {{ description }}
  {%- endif -%}
  {%- if settings['contacts_phone'] != blank or settings['contacts_email'] != blank or settings['contacts_chat_text'] != blank -%}
    <div class="contacts-info__list">
      {%- if settings['contacts_phone'] != blank -%}
        {%- assign src = settings['contacts_phone_image'] | asset_url: '200x' -%}

        <a class="contacts-info__item block a1"
          href="tel:{{ settings['contacts_phone'] }}"
          title="{{ settings['contacts_phone_text'] }}">
          <div class="contacts-info__icon contacts-info__icon--phone icon">
            {%- render 'image',
              loader: false,
              fit: 'contain',
              src: src,
              text: settings['contacts_phone_text'],
              transparent: true -%}
          </div>
          <p class="contacts-info__text p2">
            {{- settings['contacts_phone_text'] -}}
          </p>
        </a>
      {%- endif -%}

      {%- if settings['contacts_email'] != blank -%}
        {%- assign src = settings['contacts_email_image'] | asset_url: '200x' -%}

        <a class="contacts-info__item block a1"
          href="mailto:{{ settings['contacts_email'] }}"
          title="{{ settings['contacts_email_text'] }}">
          <div class="contacts-info__icon contacts-info__icon--email icon">
            {%- render 'image',
              loader: false,
              fit: 'contain',
              src: src,
              text: settings['contacts_email_text'],
              transparent: true -%}
          </div>
          <p class="contacts-info__text p2">{{- settings['contacts_email_text'] -}}</p>
        </a>
      {%- endif -%}

      {%- if settings['contacts_chat_text'] != blank -%}
        {%- assign src = settings['contacts_chat_image'] | asset_url: '200x' -%}

        <a class="contacts-info__item block a1"
          href="{{ settings['contacts_chat_url'] }}"
          title="{{ settings['contacts_chat_text'] }}">
          <span class="sr-only">{{- settings['contacts_chat_text'] -}}</span>
          <div class="contacts-info__icon contacts-info__icon--chat icon">
            {%- render 'image',
              loader: false,
              fit: 'contain',
              src: src,
              text: settings['contacts_chat_text'],
              transparent: true -%}
          </div>
          <p class="contacts-info__text p2">{{ settings['contacts_chat_text'] }}</p>
        </a>
      {%- endif -%}
    </div>
  {%- endif %}
</div>
