{%- comment -%}
  Parameters
  * inverted_mode
  * enable_overlay
  * overlay_opacity
  * tagline
  * tagline
  * title
  * cta_text
  * cta_url
  * image_mobile
  * image_intermediate
  * image
  * image_alt
  * video
  * class
  * id
  * is_vue
{%- endcomment -%}
{%- assign background_type = background_type | default: 'image' -%}

{%- capture images -%}
  {%- if image_mobile != blank -%}
    {{- image_mobile -}}
  {%- endif -%}
  {%- if image_intermediate != blank -%}
    |{{- image_intermediate -}}
  {%- endif -%}
  {%- if image != blank -%}
    |{{- image -}}
  {%- endif -%}
{%- endcapture  -%}

{%- capture breakpoints -%}
  {%- if image_intermediate != blank -%}
    (max-width: 767px)
  {%- endif -%}
  {%- if image != blank -%}
    |(max-width: 1199px)
  {%- endif -%}
{%- endcapture  -%}

{%- capture css -%}
  fa relative content-grid-item content-grid-item--{{ background_type }}
  {% if class != blank %} {{ class }}{% endif %}
  {% if inverted_mode %}content-grid-item--inverted{% endif %}
{%- endcapture -%}

{%- if title != blank -%}
  <div class="{{- css | strip -}}" data-a-group>
    <div class="content-grid-item__inner">
      {%- if images != blank and breakpoints != blank -%}
        <a href="{{ cta_url }}" class="fill ratio ro-1 content-grid-item__featured" aria-labelledby="contentGridItemTitle-{{- id -}}">
          {%- if background_type == 'image' -%}
            {%- render 'picture',
              class: 'content-grid-item__image',
              bind_dynamic_props: false,
              sources: images,
              breakpoints: breakpoints,
              width: 100,
              width_s: 50,
              width_m: 50,
              width_l: 33,
              alt: image_alt,
              object_fit: 'cover',
              loader: true,
              is_vue: is_vue -%}
          {%- endif -%}
        </a>
      {%- endif -%}

      {%- if background_type == 'video' and video != blank -%}
        {%- render 'video',
          video_l: video,
          class: 'content-grid-item__video',
          fallback: image_mobile,
          fallback_s: image_intermediate,
          fallback_l: image,
          is_vue: is_vue -%}
      {%- endif -%}

      <div class="fill f fdc jce content-grid-item__content">
        {%- if tagline != blank -%}
          <p class="content-grid-item__tagline tagline" data-a-stagger>{{- tagline -}}</p>
        {%- endif -%}
        <h2 class="h3 content-grid-item__title" id="contentGridItemTitle-{{- id -}}" data-a-stagger>{{- title -}}</h2>
        {%- if cta_text != blank and cta_url != blank -%}
          <div data-a-stagger>
            {%- render 'button' with 'link'
              class: 'btn--primary content-grid-item__btn',
              href: cta_url,
              value: cta_text -%}
          </div>
        {%- endif -%}
      </div>
      {%- if enable_overlay -%}
        <div class="content-grid-item__overlay fill" style="opacity: {{ overlay_opacity }}%"></div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
