{%- comment -%}
  Parameters
  * fields
{%- endcomment -%}

{%- for enable in fields.scrolling_image_enable -%}
  {%- if enable -%}
    {%- assign order = fields.scrolling_image_order[forloop.index0] -%}
    {%- assign image = fields.scrolling_image[forloop.index0][0] -%}
    {%- assign height = fields.scrolling_image_height[forloop.index0] | default: 40 -%}
    {%- assign height_s = fields.scrolling_image_height_s[forloop.index0] | default: height -%}
    {%- assign height_l = fields.scrolling_image_height_l[forloop.index0] | default: height_s -%}
    {%- assign speed = fields.scrolling_image_speed[forloop.index0] | default: 10 -%}
    {%- assign speed_s = fields.scrolling_image_speed_s[forloop.index0] | default: speed -%}
    {%- assign speed_l = fields.scrolling_image_speed_l[forloop.index0] | default: speed -%}

    {%- if image != blank -%}
      <div class="flex-scrolling-image" style="order: {{ order }}">
        <div class="flex-scrolling-image__background"
          aria-label="{{- image.alt -}}"
          style="background-image: url({{ image.src }});
            --aspect-ratio: {{ image.aspect_ratio }};
            --height: {{ height }}px;
            --height_s: {{ height_s }}px;
            --height_l: {{ height_l }}px;
            --animation-speed: {{ speed }}s;
            --animation-speed_s: {{ speed_s }}s;
            --animation-speed_l: {{ speed_l }}s;
          "
        ></div>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
