{%- comment -%}
  Parameters
  * section
  * class
{%- endcomment -%}
{%- assign year = 'now' | date: '%Y' -%}

<footer class="footer bg-white" data-module="footer">
  <div class="footer__wrapper">
    <div class="container container--xl">
      <div class="footer__inner">
        <div class="footer__grid f fw jcb">
          {%- if section.about_heading != blank or section.about_text != blank -%}
            <div class="footer__column footer__column--about">
              <div class="footer__column-inner">
                {%- if section.about_heading != blank -%}
                  <h3 class="footer__column-title bold">{{- section.about_heading -}}</h3>
                {%- endif -%}
                {%- if section.about_text != blank -%}
                  <div class="rte footer__column-text">{{- section.about_text -}}</div>
                {%- endif -%}

                {%- if section.about_show_social_media -%}
                  {%- render 'social-links', class: 'footer__social-links f aic'-%}
                {%- endif -%}

                {%- if section.show_payment_types -%}
                  <div class="pt1">
                  {%- for type in shop.enabled_payment_types -%}
                    <img src="{{ type | payment_type_img_url }}" width="38" height="24" />
                  {%- endfor -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}

          {%- for i in (1..2) -%}
            {%- capture footer_menu -%}menu_{{- i -}}{%- endcapture -%}
            {%- assign menu_handle = section[footer_menu] -%}
            {%- if linklists[menu_handle].links.size > 0 -%}
              <div class="footer__column footer__column--nav">
                <div class="footer__column-inner">
                  <h3 class="footer__column-title bold">{{- linklists[menu_handle].title -}}</h3>
                  <nav class="footer__nav f aic" aria-label="{{- linklists[menu_handle].title -}}">
                    <ul class="list--reset footer__menu f fw aic w1">
                      {%- for link in linklists[menu_handle].links -%}
                        <li class="footer__nav-item w1">
                          <a href="{{- link.url -}}" class="footer__nav-link{% if link.active %} footer__nav-link--active{% endif %} link">{{- link.title -}}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </nav>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}

          {%- if settings.klaviyo_id != blank -%}
            <div class="footer__column footer__column--newsletter">
              <div class="footer__column-inner">
                {%- if section.email_signup_heading != blank -%}
                  <h3 class="footer__column-title bold">{{- section.email_signup_heading -}}</h3>
                {%- endif -%}
                {%- if section.email_signup_text != blank -%}
                  <div class="rte footer__column-text">{{- section.email_signup_text -}}</div>
                {%- endif -%}

                {%- render 'newsletter-form',
                  provider: 'klaviyo',
                  class: 'footer__newsletter__form relative',
                  klaviyo_url: settings.klaviyo_url,
                  klaviyo_group: settings.klaviyo_id,
                  placeholder: settings.newsletter_placeholder,
                  btn_text: settings.newsletter_button_text,
                  error_msg: settings.newsletter_error,
                  success_msg: settings.newsletter_success,
                  subscribed_msg: settings.newsletter_subscribed -%}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom {% if section.show_bottom_image %}footer-bottom--has-image{% endif %}">
    <div class="container container--xl">
      <div class="footer-bottom__inner">
        <div class="footer-bottom__grid f fw jcb">
          <div class="footer-bottom__block footer-bottom__block--left small">
            <span class="footer__copyright">{{- 'general.legal.copyright' | t: year: year -}}</span>
            <span>&bull;</span>
            <span class="footer__copyright-site">Site by <a href="//barrelny.com" class="link" rel="nofollow" target="blank">Barrel</a></span>
          </div>
          <div class="footer-bottom__block footer-bottom__block--right">
            {%- if linklists[section.menu_bottom].links.size > 0 -%}
              <nav class="footer-bottom__nav f aic">
                <ul class="list--reset footer-bottom__menu f aic w1">
                  {%- for link in linklists[section.menu_bottom].links -%}
                    <li class="footer-bottom__nav-item">
                      <a href="{{- link.url -}}" class="footer-bottom__nav-link small{% if link.active %} footer-bottom__nav-link--active{% endif %} link">{{- link.title -}}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              </nav>
            {%- endif -%}
          </div>
        </div>

        {%- if section.show_bottom_image -%}
          {%- if section.bottom_image_type == 'svg' -%}
            <div class="footer-bottom__image" style="--bottom-image-max-width: {{ section.bottom_image_max_width }}px;">
              {{- section.bottom_image_svg -}}
            </div>
          {%- else -%}
            {%- assign image = section.bottom_image | img_url: '1600x' -%}
            {%- assign image_intermediate = section.bottom_image | img_url: '1200x' -%}
            {%- assign image_mobile = section.bottom_image | img_url: '700x' -%}
            {%- assign image_ratio = section.bottom_image.aspect_ratio -%}
            {%- assign image_alt = section.bottom_image.alt -%}

            {%- capture image_sources -%}
              {%- if image_mobile != blank -%}
                {{- image_mobile -}}
              {%- endif -%}
              {%- if image_intermediate != blank -%}
                |{{- image_intermediate -}}
              {%- endif -%}
              {%- if image != blank -%}
                |{{- image -}}
              {%- endif -%}
            {%- endcapture  -%}

            {%- capture breakpoints -%}
              {%- if image_mobile != blank -%}
                (max-width: 767px)
              {%- endif -%}
              {%- if image_intermediate != blank -%}
                |(max-width: 999px)
              {%- endif -%}
              {%- if image != blank -%}
                |(min-width: 1000px)
              {%- endif -%}
            {%- endcapture  -%}

            {%- capture inline_style -%}
              style="--aspect-ratio: {{ image_ratio }};--bottom-image-max-width: {{ section.bottom_image_max_width }}px"
            {%- endcapture  -%}

            <div class="footer-bottom__image ratio aspect-ratio" {{ inline_style }}>
              {%- render 'picture',
                class: 'footer-bottom__img',
                is_vue: true,
                sources: image_sources,
                breakpoints: breakpoints,
                width: 100,
                width_s: 50,
                width_m: 50,
                width_l: 33,
                alt: image_alt,
                object_fit: 'cover',
                loader: false
              -%}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>
