{%- comment -%}
  Parameters
  * inverted_mode
  * enable_overlay
  * overlay_opacity
  * image_sources
  * image_alt
  * breakpoints
  * video
  * video_s
  * video_l
  * fallback
  * fallback_s
  * fallback_l
  * tagline
  * title
  * text
  * additional_content
  * class
  * order
  * title_image
  * title_image_aspect_ratio
{%- endcomment -%}

{%- assign background_type = background_type | default: 'image' -%}

{%- if title != blank -%}
  <section class="full-width full-width--{{ background_type }}{% if inverted_mode %} full-width--inverted{% endif %}{% if class != blank %} {{ class }}{% endif %}" {% if order != blank %} style="order: {{- order -}}"{% endif %}>
    <div class="relative f full-width__wrapper" data-a-group>
      {%- if background_type == 'image' -%}
        <div class="fill full-width__featured">

          {%- render 'picture',
            class: 'full-width__image',
            bind_dynamic_props: false,
            sources: image_sources,
            breakpoints: breakpoints,
            width: 100,
            width_s: 50,
            width_m: 50,
            width_l: 33,
            alt: image_alt,
            loader: false
          -%}
        </div>
      {%- elsif background_type == 'video' -%}
        {%- render 'video',
          video: video,
          video_s: video_s,
          video_l: video_l,
          fallback: fallback,
          fallback_s: fallback_s,
          fallback_l: fallback_l,
          class: 'full-width__video',
          is_vue: false -%}
      {%- endif -%}

      <div class="container f full-width__container">
        <div class="relative f fdc full-width__inner">
          <div class="align-c full-width__content">
            {%- if tagline != blank -%}
              <p class="tagline full-width__tagline" data-a-stagger>{{ tagline }}</p>
            {%- endif -%}
            {%- if title_image != blank -%}
              <h2 class="h3 full-width__title" data-a-stagger data-a-type="fade">
                <div class="full-width__title-image-wrapper ratio aspect-ratio" style="--aspect-ratio: {{- title_image_aspect_ratio -}}">
                  {%- render 'picture',
                    class: 'full-width__title-image',
                    bind_dynamic_props: false,
                    sources: title_image,
                    alt: title,
                    loader: false
                  -%}
                </div>
              </h2>
            {%- else -%}
              <h2 class="h3 full-width__title" data-a-stagger>
                {{ title }}
              </h2>
            {%- endif -%}
            {%- if text != blank -%}
              <p class="full-width__text" data-a-stagger>{{ text }}</p>
            {%- endif -%}
          </div>

          {%- if additional_content != blank -%}
            <div class="full-width__additional-content" data-a-stagger>{{ additional_content }}</div>
          {%- endif -%}
        </div>
      </div>
      {%- if enable_overlay -%}
        <div class="full-width__overlay fill" style="opacity: {{ overlay_opacity }}%"></div>
      {%- endif -%}
    </div>
  </section>
{%- endif -%}
