{%- comment -%}
  Parameters
  * type
  * social_sharing_content
  * is_dynamic
  * inverted_mode
  * enable_overlay
  * overlay_opacity
  * tagline
  * title
  * description
  * image
  * image_sources
  * breakpoints
  * video
  * video_s
  * video_l
  * fallback
  * fallback_s
  * fallback_l
  * hero_style
  * background_color
  * content_alignment
  * text_alignment
  * video_url
{%- endcomment -%}

{%- assign enable_social_share = enable_social_share | default: false -%}
{%- assign is_dynamic = is_dynamic | default: false -%}
{%- assign hero_style = hero_style | default: '2-up' -%}
{%- assign content_alignment = content_alignment | default: 'bottom-left' -%}
{%- assign text_alignment = text_alignment | default: 'left' -%}

{%- unless is_dynamic -%}
  {%- capture css -%}
    hero-small hero-small--{{ type }} hero-small--{{ hero_style }} hero-small--text-{{ text_alignment }} hero-small--content-{{ content_alignment }}
    bg-secondary-background
    {% if hero_style contains 'fullwidth' %}
      hero-small--fullwidth
    {% endif %}
    {% if inverted_mode %}
      hero-small--inverted
    {% endif %}
  {%- endcapture -%}

  {%- if background_color -%}
    <style>
      .hero-small {
        background-color: {{- background_color -}};
      }
    </style>
  {%- endif -%}
{%- endunless -%}

<div
  class="{{- css | strip -}}"
  {% if is_dynamic %}
  is="hero-small"
  inline-template
  :type="{{ type }}"
  :hero-style="{{ hero_style }}"
  :inverted-mode="{{ inverted_mode }}"
  :enable-overlay="{{ enable_overlay }}"
  :overlay-opacity="{{ overlay_opacity }}"
  :title="{{ title }}"
  :description="{{ description }}"
  :breakpoints="{{ breakpoints }}"
  :image-sources="{{ image_sources }}"
  :background-color="{{ background_color }}"
  :video="{{ video }}"
  :video-small="{{ video_s }}"
  :video-large="{{ video_l }}"
  :content-alignment="{{ content_alignment }}"
  :text-alignment="{{ text_alignment }}"
  :fallback="{{ fallback }}"
  :fallback-small="{{ fallback_s }}"
  :fallback-large="{{ fallback_l }}"
  {% endif %}>
  {%- if is_dynamic -%}<div :class="heroClass" :style="heroStyles">{%- endif -%}
  <div class="hero-small__wrap" data-a-group>
    <div class="hero-small__copy">
      <div class="hero-small__copy-text">
        {%- if breadcrumbs != blank -%}
          {{ breadcrumbs }}
        {%- endif -%}

        {%- if tagline != blank -%}
          <div class="hero-small__tagline h5">
            {{ tagline }}
          </div>
        {%- endif -%}

        {%- if is_dynamic -%}
          <h1 class="hero-small__title h1" v-html="title" v-cloak>
            {{- title -}}
          </h1>
        {%- else -%}
          <h1 class="hero-small__title h1">
            {{- title -}}
          </h1>
        {%- endif -%}
        {%- if description and description != blank -%}
          <div class="hero-small__text" {% if is_dynamic %}v-html="description" v-cloak {% endif %}>
            {{- description -}}
          </div>
        {%- endif -%}

        {%- if social_sharing_content != blank -%}
          <div class="hero-small__social f aic">
            <p class="hero-small__social-label p2">{{- 'general.social.share' | t -}}</p>
            {{- social_sharing_content -}}
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="hero-small__featured">
      {%- if is_dynamic -%}
        <!-- PLP Hero -->
        <template v-if="type === 'video'">
          {%- render 'picture',
            class: 'hero-small__fallback-image',
            bind_dynamic_props: true,
            is_vue: true
            sources: 'imageSources',
            breakpoints: 'breakpoints',
            width: 100,
            width_s: 100,
            width_m: 100,
            width_l: 100,
            alt: 'title',
            loader: false
          -%}
          {%- render 'video',
            is_vue: true,
            source: 'heroVideos',
            class: 'hero-small__video'
          -%}
        </template>
        <template v-else-if="type === 'image'">
          {%- render 'picture',
            class: 'hero-small__image',
            bind_dynamic_props: true,
            is_vue: true
            sources: 'imageSources',
            breakpoints: 'breakpoints',
            width: 100,
            width_s: 100,
            width_m: 100,
            width_l: 100,
            alt: 'title',
            loader: false
          -%}
        </template>
        <!-- End PLP Hero -->
      {%- else -%}
        {%- case type -%}
        {%- when 'video' -%}
          {%- assign video = video | default: false -%}

          {%- render 'video',
            video: video,
            video_s: video_s,
            video_l: video_l,
            fallback: fallback,
            fallback_s: fallback_s,
            fallback_l: fallback_l,
            class: 'hero-small__video',
            is_vue: false
          -%}

        {%- when 'image' -%}
          {%- render 'picture',
            class: 'hero-small__image',
            bind_dynamic_props: false,
            sources: image_sources,
            breakpoints: breakpoints,
            width: 100,
            width_s: 50,
            width_m: 50,
            width_l: 33,
            alt: title,
            loader: false
          -%}

          {%- if video_url != blank -%}
            {%- render 'video-popup-player',
              video_url: video_url,
              button_class: 'hero-small__play-button'
              is_vue: false
            -%}
          {%- endif -%}
        {%- endcase -%}
      {%- endif -%}
      {%- if is_dynamic -%}
        <div class="hero-small__overlay fill" :style="{opacity: overlayOpacity + '%'}" v-if="enableOverlay && heroStyle === '2-up'"></div>
      {%- else -%}
        {%- if enable_overlay and hero_style == '2-up' -%}
          <div class="hero-small__overlay fill" style="opacity: {{ overlay_opacity }}%"></div>
        {%- endif -%}
      {%- endif -%}
    </div>
    {%- if is_dynamic -%}
      <div class="hero-small__overlay fill" :style="{opacity: overlayOpacity + '%'}" v-if="enableOverlay && heroStyle !== '2-up'"></div>
    {%- else -%}
      {%- if enable_overlay and hero_style != '2-up' -%}
        <div class="hero-small__overlay fill" style="opacity: {{ overlay_opacity }}%"></div>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if is_dynamic -%}</div>{%- endif -%}
</div>
