{%- comment -%}
  Parameters
  * section
  * id
  * class
  * object_fit
{%- endcomment -%}

{%- if section != blank -%}
  {%- assign title = section['title'] -%}
  {%- assign text = section['text'] -%}
  {%- assign page_handle = request.page_type | handle -%}
  {%- if page_handle  == 'page' -%}
    <style>
      .three-up--page {
        margin-top: 0;
      }
    </style>
  {%- endif -%}
  {%- if title == blank or text == blank and page_handle  == 'page' -%}
    <style>
      .home-hero + .three-up--flexible {
        padding-top: 0;
      }
    </style>
  {%- endif -%}
  {%- if title != blank or text != blank and page_handle  == 'page' -%}
    <style>
      .home-hero + .three-up--flexible {
        margin-top: 0;
        padding-top: 72px;
      }
      @media (min-width: 1200px) {
        .home-hero + .three-up--flexible {
          padding-top: 130px;
        }
      }
    </style>
  {%- endif -%}
  {%- capture css -%}
    home-hero home-hero--{{ request.page_type | handle }} {{ class }}{% if section['title'] == blank and section['text'] == blank %} home-hero--empty{% endif %}
  {%- endcapture -%}
  <section class="{{- css | strip -}}">
    <div class="home-hero__wrapper">
      <div class="home-hero__inner">
        {%- case section.background_type -%}
        {%- when 'image' -%}
          {%- assign image = section['image'] | img_url: '2160x' -%}
          {%- assign image_intermediate = section['image_intermediate'] | img_url: '1200x' -%}
          {%- assign image_mobile = section['image_mobile'] | img_url: '700x' -%}
          {%- capture image_sources -%}
            {%- if section['image_mobile'] != blank -%}
              {{- image_mobile -}}
            {%- endif -%}
            {%- if section['image_intermediate'] != blank -%}
              |{{- image_intermediate -}}
            {%- endif -%}
            {%- if section['image'] != blank -%}
              |{{- image -}}
            {%- endif -%}
          {%- endcapture  -%}

          {%- capture breakpoints -%}
            {%- if section['image_mobile'] != blank -%}
              (max-width: 767px)
            {%- endif -%}
            {%- if section['image_intermediate'] != blank -%}
              |(max-width: 999px)
            {%- endif -%}
            {%- if section['image'] != blank -%}
              |(min-width: 1000px)
            {%- endif -%}
          {%- endcapture  -%}

          {%- render 'hero' with 'image',
            enable_newsletter: section['enable_newsletter'],
            klaviyo_id: section['klaviyo_id'],
            newsletter_placeholder: section['newsletter_placeholder'],
            newsletter_button_text: section['newsletter_button_text'],
            inverted_mode: section['inverted_mode'],
            enable_overlay: section['enable_overlay'],
            overlay_opacity: section['overlay_opacity'],
            tagline: section['tagline'],
            title: section['title'],
            title_style: section['title_style'],
            text: section['text'],
            btn_text_1: section['btn_text_1'],
            btn_link_1: section['btn_link_1'],
            btn_style_1: section['btn_style_1'],
            btn_text_2: section['btn_text_2'],
            btn_link_2: section['btn_link_2'],
            btn_style_2: section['btn_style_2'],
            position: section['position'],
            alignment: section['alignment'],
            margin_top: section['margin_top'],
            margin_top_s: section['margin_top_s'],
            margin_top_l: section['margin_top_l'],
            image_sources: image_sources,
            breakpoints: breakpoints,
            ratio: section['ratio'],
            ratio_s: section['ratio_s'],
            ratio_l: section['ratio_l'],
            max_height: section['max_height'],
            max_height_s: section['max_height_s'],
            max_height_l: section['max_height_l'],
            object_fit: section['background_style'],
            id: id,
            lazy_load: false
          -%}

        {%- when 'video' %}
          {%- assign fallback = section['image_mobile'] | img_url: '700x' -%}
          {%- assign fallback_s = section['image_intermediate'] | img_url: '1200x' -%}
          {%- assign fallback_l = section['image'] | img_url: '2160x' -%}

          {%- render 'hero' with 'video',
            enable_newsletter: section['enable_newsletter'],
            inverted_mode: section['inverted_mode'],
            enable_overlay: section['enable_overlay'],
            overlay_opacity: section['overlay_opacity'],
            tagline: section['tagline'],
            title: section['title'],
            title_style: section['title_style'],
            text: section['text'],
            btn_text_1: section['btn_text_1'],
            btn_link_1: section['btn_link_1'],
            btn_style_1: section['btn_style_1'],
            btn_text_2: section['btn_text_2'],
            btn_link_2: section['btn_link_2'],
            btn_style_2: section['btn_style_2'],
            position: section['position'],
            alignment: section['alignment'],
            margin_top: section['margin_top'],
            margin_top_s: section['margin_top_s'],
            margin_top_l: section['margin_top_l'],
            video: section['video'],
            video_s: section['video_s'],
            video_l: section['video_l'],
            fallback: fallback,
            fallback_s: fallback_s,
            fallback_l: fallback_l,
            ratio: section['ratio'],
            ratio_s: section['ratio_s'],
            ratio_l: section['ratio_l'],
            max_height: section['max_height'],
            max_height_s: section['max_height_s'],
            max_height_l: section['max_height_l'],
            object_fit: section['background_style'],
            id: id
          -%}

        {%- when 'none' %}
          {%- render 'hero' with 'none',
            enable_newsletter: section['enable_newsletter'],
            inverted_mode: section['inverted_mode'],
            enable_overlay: section['enable_overlay'],
            overlay_opacity: section['overlay_opacity'],
            tagline: section['tagline'],
            title: section['title'],
            title_style: section['title_style'],
            text: section['text'],
            btn_text_1: section['btn_text_1'],
            btn_link_1: section['btn_link_1'],
            btn_style_1: section['btn_style_1'],
            btn_text_2: section['btn_text_2'],
            btn_link_2: section['btn_link_2'],
            btn_style_2: section['btn_style_2'],
            position: section['position'],
            alignment: section['alignment'],
            margin_top: section['margin_top'],
            margin_top_s: section['margin_top_s'],
            margin_top_l: section['margin_top_l'],
            ratio: section['ratio'],
            ratio_s: section['ratio_s'],
            ratio_l: section['ratio_l'],
            max_height: section['max_height'],
            max_height_s: section['max_height_s'],
            max_height_l: section['max_height_l'],
            object_fit: section['background_style'],
            id: id
          -%}
        {%- endcase -%}
      </div>
    </div>
  </section>
{%- endif -%}
