{%- comment -%}
  Custom styles for Back in stock module
{%- endcomment -%}
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
{% capture additional_styles %}
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
  body.fadein {
    background: rgba(0,0,0,0.75);
  }
  #klaviyo-bis-modal {
    max-width: 450px;
    width: 93.75%;
    margin: 0 auto;
    top: 50%;
    position: relative;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  #klaviyo-bis-modal #container {
    border-radius: 0;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
    padding: 25px 20px;
  }
  @media (min-width: 1024px) {
    #klaviyo-bis-modal #container {
      padding: 51px 25px 47px;
    }
  }
  .modal-title {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #0b0fd5;
    margin: 10px 0;
  }
  .modal-title + p {
    max-width: 300px;
    text-align: center;
    font-family: Optima, sans-serif;
    font-size: 13px;
    margin: 0 auto 21px;
    line-height: 1.3;
    font-weight: normal;
  }
  @media (min-width: 1024px) {
    .modal-title {
      margin: 0 auto 14px;
      font-size: 35px;
      line-height: 35px;
    }
    .modal-title + p {
      margin: 0 auto 29px;
      font-size: 15px;
      line-height: 16px;
    }
  }
  .form-group {
    margin-bottom: 5px;
  }
  .form-group:focus {
    outline: 0;
  }
  .form-control {
    border: 1px solid #EAEEEF;
  }
  .form-group select,
  .form-group input:not([type=checkbox]) {
    height: 53px;
    padding: 15px 15px;
    font-size: 13px;
    line-height: 1.3;
    border-radius: 0;
    text-indent: 0px;
    color: #4e4e4a;
    box-shadow: none;
    text-align: left;
    font-family: Gotham, sans-serif !important;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .form-group input[type="checkbox"] {
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  .form-group input:focus,
  .form-group select:focus {
    outline: 0;
    border: 1px solid #0b0fd5;
    border-radius: 0;
  }
  .list-options + p {
    display: none;
  }
  .list-options ~ .form-horizontal .form-group:first-child {
    display: none;
  }
  .form-group .form-group__select,
  .form-group #variant_select {
    position: relative;
  }
  .form-group .form-group__select::after,
  .form-group #variant_select::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    margin-right: 0;
    margin-bottom: 3px;
    border-top: 3px solid #000;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    transform: translateY(-50%);
  }
  #newsletter_subscription p {
    display: inline-block;
    margin: 12px 0 11px;
  }
  @media (min-width: 1024px) {
    #newsletter_subscription p {
      margin: 15px 0 25px;
    }
  }
  #newsletter_subscription p:focus-within {
    outline: 1px solid #929292;
    outline-offset: 2px;
  }
  #newsletter_subscription label {
    font-size: 12px;
    line-height: 1.3;
  }
  .submit-container {
    position: relative;
  }
  .submit-container:not([disabled]):focus,
  .submit-container:not([disabled]):hover {
    border-color: rgba(0,0,0,0);
    background-color: #0b0fd5;
    color: #fcfcfc;
    outline: 0;
  }
  .submit-container:not([disabled]):hover .btn {
    top: 0;
    left: 0;
  }
  .submit-container::before {
    content: '';
    transition: top .25s ease-in-out,left .25s ease-in-out !important;
    background: linear-gradient(90deg,#e76477 0,#ce5a81 7.34%,#8c4199 23.02%,#241ac1 45.63%,#0b10ca 50.87%,#0f2ac6 56.36%,#26b6ae 86.73%,#2feea4 100%) !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
  .submit-container .btn {
    display: inline-block;
    border-radius: 0;
    height: 35px;
    min-width: 130px;
    padding: 0 20px;
    line-height: 33px;
    font-family: Gotham, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    border: 1px solid transparent;
    background-color: #0b0fd5;
    color: #fcfcfc;
    position: relative;
    padding: 0 20px;
    top: -5px;
    left: -5px;
    will-change: top left;
    -webkit-transition: top .25s ease-in-out,left .25s ease-in-out;
    -o-transition: top .25s ease-in-out,left .25s ease-in-out;
    transition: top .25s ease-in-out,left .25s ease-in-out;
  }
  .submit-container .btn:focus {
    outline: 0;
  }
  @media (min-width: 1000px) {
    .submit-container .btn {
      height: 45px;
      line-height: 43px;
      letter-spacing: 1.5px;
      font-size: 11px;
    }
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
  }
  .close::before,
  .close::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 1px;
    background: #0b0fd5;
    top: 50%;
    left: 50%;
    transition: background 0.2s ease-in-out;
  }
  .close::after {
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .close::before {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .close:hover:before,
  .close:hover:after {
    background: #2ff9af;
  }
  .small-print {
    margin-top: 13px;
    margin-bottom: 0;
    text-align: center;
    color: #959595;
    font-size: 12px;
    line-height: 1.3;
  }
  @media (min-width: 1024px) {
    .close {
      top: 20px;
      right: 20px;
    }
    .small-print {
      margin-top: 7px;
    }
  }
  {%- unless settings.klaviyo_bis_subscribe_checked -%}
    #newsletter_subscription {
    display: none;
    }
  {%- endunless -%}
  #subscribe_for_newsletter {
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  #subscribe_for_newsletter+label {
    cursor: pointer;
  }
  #subscribe_for_newsletter::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #eaeeef;
    pointer-events: none;
  }
  #subscribe_for_newsletter:hover::before {
    border-color: #929292;
  }
  #subscribe_for_newsletter:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    background: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%228%22%20height%3D%226%22%20viewBox%3D%220%200%208%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1%203L3%205L7.5%201%22%20stroke%3D%22black%22%2F%3E%0A%3C%2Fsvg%3E%0A") no-repeat;
    transform: translate3d(-50%, -50%, 0);
  }
{% endcapture %}

{%- capture footer_content -%}
  {{ settings.klaviyo_bis_modal_body_content }}
  {%- if additional_scripts != blank -%}
    {{ additional_scripts }}
  {%- endif -%}
{%- endcapture -%}

{%- capture body_content -%}
  {{- settings.klaviyo_bis_modal_title -}}
  {%- if product.options_with_values.size < 3 -%}
    <div class="list-options">
      {%- for option in product.options_with_values -%}
        {%- capture option_name -%}option{{ option.position }}{%- endcapture -%}
        <div class="form-group">
          <div class="form-group__select">
            <select class="selectpicker{{option.position}} form-control input-lg" onChange="triggerVariant()">
              <option value="" disabled selected>Select a {{ option.name }}</option>
              {%- for value in option.values -%}
                {%- for variant in product.variants -%}
                  {%- unless variant.available -%}
                    {%- if variant[option_name] == value -%}
                        <option value="{{ value }}">{{- value -}}</option>
                      {%- break -%}
                    {%- endif -%}
                  {%- endunless -%}
                {%- endfor -%}
              {%- endfor -%}
            </select>
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endcapture -%}
<script>
  var klaviyo = klaviyo || [];
  klaviyo.init({
    account: {{ settings.klaviyo_bis_api_key | json }},
    {% if settings.klaviyo_bis_list_id != blank %}list: {{ settings.klaviyo_bis_list_id | json }},{% endif %}
    platform: "shopify"
  });
  klaviyo.enable("backinstock", {
    trigger: {
      product_page_text: {{ settings.klaviyo_bis_product_page_text | json }},
      product_page_class: ".klaviyo-bis-trigger",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
      headline: {{ settings.klaviyo_bis_product_page_text | json }},
      body_content: {{ body_content | json }},
      footer_content: {{ footer_content | json }},
      email_field_label: {{ settings.klaviyo_bis_modal_email_field_label | json }},
      subscribe_checked: {{ settings.klaviyo_bis_subscribe_checked }},
      newsletter_subscribe_label: {{ settings.klaviyo_bis_newsletter_subscribe_label | json }},
      button_label: {{ settings.klaviyo_bis_modal_button_label | json }},
      subscription_success_label: {{ settings.klaviyo_bis_modal_subscription_success_label | json }},
      additional_styles: {{ additional_styles | json }},
      drop_background_color: "#000",
      background_color: "#fff",
      text_color: "#4e4e4a",
      button_text_color: "#fff",
      button_background_color: "#439fdb",
      close_button_color: "#0b0fd5",
      error_background_color: "#fcd6d7",
      error_text_color: "#FF0000",
      success_background_color: "#d3efcd",
      success_text_color: "#1B9500"
    }
  });
</script>
