{%- comment %}
  Parameters
  * class
  * show_modal
  * on_close
  * content
  * attrs
  * display_prefix_only
{% endcomment -%}

{%- capture css -%}
  modal fill {{ class }}
{%- endcapture -%}

<div
  is="modal"
  :show-modal="{{- show_modal -}}"
  @close="{{- on_close -}}"
  {%- if attrs -%}
    {{- attrs -}}
  {%- endif -%}
  {%- if bind_dynamic_props -%}
    :content="{{ content }}"
  {%- endif -%}
  inline-template>
  <div class="{{- css | strip -}}" v-bind:class="{ 'is-active': showModal }" aria-modal="true">
    <transition name="slide-fade">
      <div class="modal__container container" v-show="showModal" ref="modalContainer">
        <button
          class="modal__close"
          type="button"
          ref="closeButton"
          aria-label="Close modal"
          @click.prevent="close">
          {%- render 'icon' with 'icon-close' -%}
        </button>
        {%- if slide_out_title -%}
          <h2 class="h3 modal__title">{{ slide_out_title }}</h2>
        {%- endif -%}
        <div
          class="modal__content"
          ref="modalContent"
        >
          {% if bind_dynamic_props %}
            {%- if is_tabbed_content -%}
              {%- render 'tabs',
                items: 'content',
                display_prefix_only: display_prefix_only -%}
            {%- else -%}
              {% raw %}{{ content }}{% endraw %}
            {%- endif -%}
          {% else -%}
            {{- content -}}
          {%- endif -%}
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        class="modal__overlay fill"
        v-show="showModal"
        @click.prevent="close"></div>
    </transition>
  </div>
</div>
