{%- comment -%}
  Parameters
  * class
  * css
  * provider
  * mailchimp_url
  * klaviyo_url
  * klaviyo_group
  * placeholder
  * name_placeholder
  * show_placeholder
  * error_msg
  * success_msg
  * subscribed_msg
  * btn_text
  * attrs
{%- endcomment -%}
{%- assign bind_dynamic_props = bind_dynamic_props | default: false -%}
{%- assign show_name_field = show_name_field | default: false -%}
{%- if show_placeholder == false -%}
  {%- assign show_placeholder = false -%}
{%- else -%}
  {%- assign show_placeholder = true -%}
{%- endif -%}
{%- assign error_msg = error_msg | url_encode | default: 'Error' -%}
{%- assign success_msg = success_msg | url_encode | default: 'Success' -%}
{%- assign subscribed_msg = subscribed_msg | url_encode | default: 'Subscribed' -%}
{%- assign btn_text = btn_text | default: 'Submit' -%}
{%- assign newsletter_field_label = 'general.newsletter_form.label' | t -%}

{%- capture css -%}
  newsletter-form {{ class }}
{%- endcapture -%}

<div
  is="newsletter-form"
  provider="{{- provider -}}"
  mailchimp-url="{{- mailchimp_url -}}"
  klaviyo-url="{{- klaviyo_url -}}"
  klaviyo-group="{{- klaviyo_group -}}"
  error-text='{{- error_msg -}}'
  success-text='{{- success_msg -}}'
  subscribed-text='{{- subscribed_msg -}}'
  show-name-field='{{- show_name_field -}}'
  inline-template
  class="{{- css | strip -}}"{% if attrs != blank %} {{ attrs }}{% endif %}>
  <div class="newsletter__wrapper">
    <form
      class="newsletter__form"
      action="{{- klaviyo_url -}}"
      method="post"
      v-on:submit="submit"
      novalidate>
      {%- if show_name_field -%}
        {%- render 'text-input',
          name: '$first_name',
          type: 'text',
          class: 'newsletter__field text-input newsletter__field--name',
          placeholder: name_placeholder,
          show_placeholder: show_placeholder,
          aria_labelledby: name_placeholder,
          error: error_msg,
          style: 'newsletter',
          change: 'onInputChange',
          label: name_placeholder,
          required: true,
          sr_only: true
        -%}
      {%- endif -%}
      {%- render 'text-input',
        name: 'email',
        type: 'email',
        class: 'newsletter__field text-input newsletter__field--email',
        placeholder: placeholder,
        show_placeholder: show_placeholder,
        aria_labelledby: placeholder,
        error: error_msg,
        style: 'newsletter',
        change: 'onInputChange',
        label: newsletter_field_label,
        required: true,
        validation: 'isValidEmail',
        sr_only: true -%}
      {%- render 'button',
        type: 'submit',
        value: btn_text,
        class: 'newsletter__btn btn--primary' -%}
    </form>
    <transition name="fade">
      <div class="newsletter__response" v-if="response">
        <p v-html="responseText"></p>
      </div>
    </transition>
  </div>
</div>
