{%- assign placeholder = 'customer.activate_account.password_confirm' | t -%}
{%- assign error = 'customer.activate_account.error' | t -%}

{%- assign image = settings.image | img_url: '2160x' -%}
{%- assign image_intermediate = settings.image_intermediate | img_url: '1200x' -%}
{%- assign image_mobile = settings.image_mobile | img_url: '700x' -%}

{%- assign video = settings['password_video'] -%}
{%- assign video_s = settings['password_video_s'] -%}
{%- assign video_l = settings['password_video_l'] -%}

{%- capture image_sources -%}
  {%- if settings.image_mobile != blank -%}
    {{- image_mobile -}}
  {%- endif -%}
  {%- if settings.image_intermediate != blank -%}
    |{{- image_intermediate -}}
  {%- endif -%}
  {%- if settings.image != blank -%}
    |{{- image -}}
  {%- endif -%}
{%- endcapture  -%}

{%- capture breakpoints -%}
  {%- if settings.image_mobile != blank -%}
    (max-width: 767px)
  {%- endif -%}
  {%- if settings.image_intermediate != blank -%}
    |(max-width: 999px)
  {%- endif -%}
  {%- if settings.image != blank -%}
    |(min-width: 1000px)
  {%- endif -%}
{%- endcapture  -%}

{%- capture source_video_list -%}
  [
    { src: '{{ video }}', type: 'video/mp4', media: 'only screen and (max-device-width: 767px)' },
    { src: '{{ video_s }}', type: 'video/mp4', media: 'only screen and (min-device-width: 768px) and (max-device-width: 999px)' },
    { src: '{{ video_l }}', type: 'video/mp4', media: 'only screen and (min-device-width: 1000px)' }
  ]
{%- endcapture -%}

{%- assign fallback_desktop = settings.password_fallback_desktop | img_url: '2160x' -%}
{%- assign fallback_intermediate = settings.password_fallback_intermediate | img_url: '1200x' -%}
{%- assign fallback_mobile = settings.password_fallback_mobile | img_url: '700x' -%}

{%- if settings != blank -%}
  <div class="password password--{{ settings.password_layout }}" data-module="password" data-password>
    {%- if settings.show_password == true -%}
      <button class="password__button underline" ref="openButton" @click="openModal">{{ 'customer.activate_account.enter_password' | t }}</button>
      <div class="password__modal" ref="modal" aria-modal="true" :class="{'password__modal--is-active': showModal}">
        <div class="password__modal-inner">
          {%- form 'storefront_password', ref: 'storefront_password' -%}
            <button type="button" class="password__modal-close"  @click="closeModal">{%- render 'icon' with 'icon-close' -%}</button>
            <p class="mb05">{{ 'customer.activate_account.password' | t }}</p>
            {%- render 'text-input',
              name: 'password',
              type: 'password',
              class: 'text-input p2 mb1 fd',
              placeholder: placeholder,
              required: true,
              change: 'onInputChange'
            -%}

            <div class="row is-error mb1" v-if="error">
              <p class="error p2">{{- error -}}</p>
            </div>

            <button class="password__modal-submit btn btn--primary" type="submit" @click.prevent="submit">{{ 'customer.activate_account.submit' | t }}</button>
          {%- endform -%}
        </div>
      </div>
    {%- endif -%}
    <div class="password__wrapper">
      <div class="password__background ratio">
          {%- case settings.background_type -%}
          {%- when 'image' -%}
            {%- if image_sources != blank -%}
              {%- render 'picture',
                bind_dynamic_props: false,
                sources: image_sources,
                breakpoints: breakpoints,
                width: 100,
                width_s: 50,
                width_m: 50,
                width_l: 33,
                loader: false,
                is_vue: true
              -%}
            {%- endif -%}

          {%- when 'video' %}
            {%- render 'video',
              source: source_video_list,
              fallback: fallback_mobile,
              fallback_s: fallback_intermediate,
              fallback_l: fallback_desktop,
              is_vue: true
            -%}
          {%- endcase -%}
      </div>
      <div class="password__content">
        <div class="container container--s align-c">
          <div class="password__content-inner">
            <div class="password__icon">
              {%- render 'icon' with 'icon-404' -%}
            </div>
            <h1 class="h4 password__title">{{- settings.password_title -}}</h1>
            <div class="rte password__description">{{- settings.password_content -}}</div>

            {%- if settings.klaviyo_id != blank -%}
              <div class="mt1 password__newsletter">
                {%- render 'newsletter-form',
                  provider: 'klaviyo',
                  klaviyo_url: settings.klaviyo_url,
                  klaviyo_group: settings.klaviyo_id,
                  placeholder: settings.newsletter_placeholder,
                  btn_text: settings.newsletter_button_text,
                  error_msg: settings.newsletter_error,
                  success_msg: settings.newsletter_success,
                  subscribed_msg: settings.newsletter_subscribed -%}
              </div>
            {%- endif -%}

            {%- render 'social-links', class: 'mt1 f aic jcc'-%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
