{%- comment -%}
  Parameters
  * section_settings
  * collection_settings
{%- endcomment -%}

{%- if collection_settings == blank -%}
  {%- assign inverted_mode = section_settings.cta_inverted -%}
  {%- assign image = section_settings.cta_image -%}
  {%- assign image_s = section_settings.cta_image_s -%}
  {%- assign image_l = section_settings.cta_image_l -%}
  {%- assign aspect_ratio = section_settings.cta_aspect_ratio | default: 1 -%}
  {%- assign title = section_settings.cta_title -%}
  {%- assign button_text = section_settings.cta_button_text -%}
  {%- assign button_url = section_settings.cta_button_url -%}
{%- else -%}
  {%- assign inverted_mode = collection_settings.inverted -%}
  {%- assign image = collection_settings.image -%}
  {%- assign image_s = collection_settings.image_s -%}
  {%- assign image_l = collection_settings.image_l -%}
  {%- assign aspect_ratio = collection_settings.aspect_ratio | default: 1 -%}
  {%- assign title = collection_settings.title -%}
  {%- assign button_text = collection_settings.button_text -%}
  {%- assign button_url = collection_settings.button_url -%}
{%- endif -%}

{%- capture image_sources -%}
  {%- if image != blank -%}
    {{- image | img_url: '640x' -}}
  {%- endif -%}
  {%- if image_s != blank -%}
    {{- image_s | img_url: '800x' -}}
  {%- endif -%}
  {%- if image_l != blank -%}
    {{- image_l | img_url: '960x'-}}
  {%- endif -%}
{%- endcapture -%}

{%- capture breakpoints -%}
  {%- if image != blank -%}
    (max-width: 767px)
  {%- endif -%}
  {%- if image_s != blank -%}
    |(max-width: 999px)
  {%- endif -%}
  {%- if image_l != blank -%}
    |(min-width: 1000px)
  {%- endif -%}
{%- endcapture -%}

<div class="plp-cta plp__grid-item plp__grid-item--normal{% if inverted_mode %} plp-cta--inverted{% endif %}" {{ attr }}>
  <div class="plp-cta__image ratio aspect-ratio" style="--aspect-ratio: {{- aspect_ratio -}}">
    {%- render 'picture'
      class: 'plp-cta__img',
      sources: image_sources,
      breakpoints: breakpoints,
      alt: alt,
      loader: true,
      is_vue: true
    -%}

    <div class="plp-cta__content">
      <div class="plp-cta__content-inner">
        {%- if title -%}
          <h3 class="h3 plp-cta__title">{{- title -}}</h3>
        {%- endif -%}

        {%- if button_text and button_url -%}
          {%- render 'button' with 'link',
            class: 'btn--primary plp-cta__button',
            href: button_url,
            value: button_text
          -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
