{%- comment -%}
  Parameters
  * class
  * title
  * tag
  * text
  * image_sources
  * image_alt
  * image_hover_sources
  * image_hover_alt
  * breakpoints
  * cta_text
  * cta_url
  * is_vue
  * item
  * additional_content
{%- endcomment -%}

{% assign object_fit = object_fit | default: 'cover' %}

{%- if item != blank -%}
  {%- assign cta_text = 'blogs.article.read_more' | t -%}
  {%- assign cta_url = item.url -%}
  {%- assign image_alt = item.image.alt -%}
  {%- assign image_sources = item.image.src | img_url: '600x' -%}
  {%- assign title = item.title -%}

  {%- assign cta_url = item.url -%}
  {%- capture tag  -%}
    {%- for tag in item.tags -%}
      {%- if tag contains 'category-' -%}
          {{- tag | replace: "category-", "" | replace: "-", " " -}}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}

  {%- assign video_url = item.metafields.media.video_url -%}
  {%- assign hover_image = item.metafields.media.hover_image -%}
  {%- assign hover_image_s = item.metafields.media.hover_image_s -%}
  {%- assign hover_image_l = item.metafields.media.hover_image_l -%}

  {%- assign class = 'post-card--three-up' -%}
  {%- if video_url != blank -%}
    {%- assign class = class | append: ' post-card--video' -%}
  {%- endif -%}

  {%- capture image_hover_sources -%}
    {%- if hover_image != blank -%}
      {{- hover_image[0].src -}}
    {%- endif -%}
    {%- if hover_image_s != blank -%}
      |{{- hover_image_s[0].src -}}
    {%- endif -%}
    {%- if hover_image_l != blank -%}
      |{{- hover_image_l[0].src -}}
    {%- endif -%}
  {%- endcapture  -%}
{%- endif -%}

{%- assign is_vue = is_vue | default: false -%}
{%- capture css -%}
  post-card block {{ class }}
{%- endcapture -%}

{%- assign image_hover_alt = image_hover_alt | default: image_alt -%}

{%- if title != blank or image_sources -%}
  <a
    class="{{ css | strip }}"
    href="{{- cta_url -}}"
    title="{{- title | strip_html | escape -}}"
    :href="{{- cta_url -}}"
    :title="{{- title -}}"
  >
    <div class="post-card__inner">
      {%- if image_sources -%}
        <div class="post-card__featured-wrapper">
          <div class="post-card__featured ratio">
            {%- render 'picture',
              class: 'post-card__image',
              bind_dynamic_props: is_vue,
              sources: image_sources,
              breakpoints: breakpoints,
              width: 100,
              width_s: 50,
              width_m: 50,
              width_l: 33,
              alt: image_alt,
              loader: false,
              is_vue: is_vue,
              object_fit: object_fit
            -%}
          </div>

          {%- if image_hover_sources -%}
            <div class="post-card__featured post-card__featured--hover ratio">
              {%- render 'picture',
                class: 'post-card__image',
                bind_dynamic_props: is_vue,
                sources: image_hover_sources,
                breakpoints: breakpoints,
                width: 100,
                width_s: 50,
                width_m: 50,
                width_l: 33,
                alt: image_hover_alt,
                loader: false,
                is_vue: is_vue,
                object_fit: object_fit
              -%}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      <div class="post-card__content">
        {%- if tag != blank -%}
          <span class="capitalize post-card__tag block h5" v-html="{{ tag }}">
            {{- tag -}}
          </span>
        {%- endif -%}

        {%- if title != blank -%}
          <h3 class="h4 post-card__title" v-html="{{ title }}">
            {{- title -}}
          </h3>
        {%- endif -%}

        {%- if text != blank %}
          <p class="post-card__text p2" v-html="{{ text }}">
            {{- text -}}
          </p>
        {%- endif -%}

        {%- if cta_text != blank and cta_url != blank and button_style != 'button' -%}
          <div class="post-card__cta">
            <span class="post-card__link a2" v-html="{{ cta_text }}">
              {{- cta_text -}}
            </span>
          </div>
        {%- endif -%}
        {% if additional_content != blank %}
          {{ additional_content }}
        {% endif %}
      </div>
    </div>
  </a>
{%- endif -%}
