{%- assign object_fit = section.gallery_style -%}
{%- capture video_class -%}product-gallery__video fit-{{ object_fit }}{%- endcapture -%}
{%- assign product_image_ratio = settings.product_image_ratio -%}
{%- assign image_ratio = product.featured_image.aspect_ratio -%}
{%- capture inline_style -%}
  {%- if product_image_ratio == 'natural' -%}
    style="padding-bottom: {{ 100.0 | divided_by: image_ratio }}%; --aspect-ratio: {{ image_ratio }}"
  {%- endif -%}
{%- endcapture  -%}
<div class="product-gallery" data-module="product-gallery">
  <div class="product-gallery__side" v-if="product.media.length >= 1">
    <div
      class="product-gallery__list"
      :class="{'product-gallery__list--hide-button': !showButton, 'product-gallery__list--hide-gradient': showVideo }"
    >
      {%- capture card_attrs -%}
        :class="{ 'is-active': item === $parent.activeMedia }" @click="$parent.handleThumbnailClick(item, true)" v-on:keyup.enter="$parent.handleThumbnailClick(item, true)" tabindex="0"
      {%- endcapture -%}

      {%- render 'carousel',
        columns: 1,
        columns_s: 3,
        columns_m: 6,
        columns_l: 7,
        attrs: '@change-slide="handleChangeSlide"'
        card: 'product-gallery-item',
        card_attrs: card_attrs
        items: 'media',
        is_vue: true,
        bind_dynamic_props: true,
        fade_transitions: false,
        cell_align: 'left',
        prev_next_buttons: true,
        page_dots: true,
        group_cells: false,
        contain: true,
        class_card: 'product-gallery__list--item',
        gallery_item_fit: object_fit,
      -%}
    </div>
  </div>
  <div class="product-gallery__main ratio js-main aspect-ratio aspect-ratio--{{ product_image_ratio }}" {{ inline_style }}
    v-touch:swipe.right="prevImage"
    v-touch:swipe.left="nextImage"
  >
    <div class="product-gallery__featured">
    <transition name="fade">
      <div v-if="!showVideo && !showYoutubeVideo" >
        <div v-if="badge" class="product-gallery__badge" :class="'product-gallery__badge--' + badge">
          <img :alt="badge" :src="badgeImage(badge)" />
        </div>
        <img is="zoomable-image-enhanced"  :src="featuredImage" class="product-gallery__img fit-{{ object_fit }}" />{% comment %}lint:ignore{% endcomment %}
      </div>
      <iframe
        v-if="showYoutubeVideo"
        is="youtube-embedded-player"
        :id="youtubeId">
      </iframe>
      <div class="product-gallery__video-wrapper" v-if="showVideo">
        {%- render 'video',
          source: 'videoSourceList',
          class: video_class,
          is_vue: true -%}
      </div>
    </transition>
    </div>
  </div>
</div>
