{%- comment -%}
  Parameters
  * enable_reviews
  * title
{%- endcomment -%}
{%- assign enable_reviews = enable_reviews | default: false -%}

{%- if enable_reviews == true -%}
<div class="product-reviews">
  <div class="container container--xl">
    <div class="product-reviews__inner" data-a-group>
      <div class="product-reviews__container">
        {%- if title != blank -%}
          <div class="product-reviews__header">
            <h2 class="h3 mb0 product-reviews__title" data-a-stagger>{{- title -}}</h2>
            <span class="shopify-product-reviews-badge proreduct-reviews__subtitle" data-id="{{ product.id }}"></span>
          </div>
        {%- endif -%}

        <div id="stamped-main-widget"
          data-widget-style="standard"
          data-product-id="{{ product.id }}"
          data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
          data-description="{{ product.description | escape }}"
          data-product-sku="{{ product.handle }}"
          data-product-type="{{ product.type }}"
          data-a-stagger
        >
          {{ product.metafields.stamped.reviews }}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
