{%- assign image_source = product.featured_image | img_url: '600x' -%}

<div
  is="product-upsell-item"
  product="{%- render 'product-json', item: product -%}"
  decode="true"
  inline-template
>
  <div class="product-upsell__wrapper" data-a-stagger>
    <div class="f aic product-upsell__inner">
      <div class="ratio product-upsell__featured">
        <a href="{{- product.url -}}">
          {%- render 'picture',
            class: 'product-upsell__image',
            sources: image_source,
            width: 100,
            width_s: 50,
            width_m: 50,
            width_l: 33,
            is_vue: true,
            alt: product.title,
            loader: false -%}
        </a>
      </div>

      <div class="product-upsell__details">
        <p class="product-upsell__product-name">
          <a href="{{ product.url }}">{{- product.title -}}</a>
        </p>
        <p class="product-upsell__product-price">
          {%- if product.compare_at_price_max > product.price -%}
            <del class="inline-block mr05 p2">{{ product.compare_at_price | money }}</del>
          {%- endif -%}
          <span class="inline-block p2">{{- product.price | money -}}</span>
        </p>
      </div>

      {%- capture button_text -%}
        {%- if product.available -%}
          <span class="mr025" aria-hidden="true">+</span>Add <span class="sr-only">{{ product.title }} to cart</span>
        {%- else -%}
          <span>Sold out</span>
        {%- endif -%}
      {%- endcapture -%}
      {%- render 'button',
        value: button_text,
        class: 'btn--secondary product-upsell__cta',
        attr: '@click="addToCart" ref="addToCartButton" :disabled="available === false"'-%}

      <p class="sr-only" ref="addToCartStatus" aria-live="assertive" role="alert" aria-hidden="true">Adding product to your cart</p>
    </div>
  </div>
</div>
