{%- comment -%}
  Parameters
  * class
  * is_component
  * show_price_in_button
  * section
{%- endcomment -%}

{%- assign selector_style = selector_style | default: 'default' -%}
{%- assign show_color_swatch = show_color_swatch | default: false -%}
{%- assign is_component = is_component | default: false -%}
{%- assign show_price_in_button = show_price_in_button | default: false -%}
{%- assign add_to_cart = 'products.product.add_to_cart' | t -%}
{%- assign sold_out = 'products.product.sold_out' | t -%}
{%- assign notify_me = 'products.product.notify_me' | t -%}
{%- assign unavailable = 'products.product.unavailable' | t -%}
{%- assign enable_size_guide = section.enable_size_guide | default: false -%}
{%- assign title_size_guide = section.size_guide_title | default: nil -%}
{%- assign size_guide_description = section.size_guide_description -%}
{%- assign button_text_size_guide = section.size_guide_button_text | default: nil -%}
{%- assign bundle_discount_message = section.bundle_discount_message | default: '{discount_percent} bundle savings' -%}

{%- assign top_product_alternative = product.metafields.bundling.top_product_alternative | downcase -%}
{%- assign bottom_product_alternative = product.metafields.bundling.bottom_product_alternative | downcase -%}
{%- assign top_size = top_product_alternative | default: 'top size' -%}
{%- assign bottom_size = bottom_product_alternative | default: 'bottom size' -%}

{%- capture product_tags -%}
  {%- for tag in product.tags -%}
    {%- if tag contains 'discount-2-sweats' -%}
      {%- render 'discount-callout', tagged: 'sweats' -%}
    {%- elsif tag contains 'discount-2-tees' -%}
      {%- render 'discount-callout', tagged: 'tees' -%}
    {%- endif -%}

  {%- endfor -%}
{%- endcapture -%}

{%- if product.type == 'Sets' -%}
  {%- assign top_product = all_products[product.metafields.bundling.top_product] -%}
  {%- assign bottom_product = all_products[product.metafields.bundling.bottom_product] -%}

  {%- if top_product != blank -%}
    {%- capture content_size_guide_top -%}
      {%- render 'product-size-guide-pages',
        product: top_product,
        blocks: blocks
      -%}
    {%- endcapture -%}
  {%- endif -%}

  {%- if bottom_product != blank -%}
    {%- capture content_size_guide_bottom -%}
      {%- render 'product-size-guide-pages',
        product: bottom_product,
        blocks: blocks
      -%}
    {%- endcapture -%}
  {%- endif -%}
{%- else -%}
  {%- capture content_size_guide -%}
    {%- render 'product-size-guide-pages',
      product: product,
      blocks: blocks
    -%}
  {%- endcapture -%}
{%- endif -%}

<div class="product-form{% if class != blank %} {{ class }}{% endif %}"{% unless is_component %} data-module="product-form" data-vue-app="true" v-cloak{% endunless %}>
  <div
    is="product-form"
    :show-price-in-button="{{ show_price_in_button }}"
    add-to-cart-text="{{ add_to_cart }}"
    sold-out-text="{{ sold_out }}"
    unavailable-text="{{ unavailable }}"
    :enable-mini-cart="{{ settings.enable_mini_cart }}"
    selected-variant="{{ product.selected_or_first_available_variant.id }}"
    bundle-discount-message-format="{{ bundle_discount_message }}"
    inline-template>
    <div data-a-group>
      {%- if template.suffix != 'gift-card' -%}
        <a class="block product-form__review-badge" href="#" v-scroll-to="'#shopify-section-product-reviews'" data-a-stagger>
          <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
        </a>
      {%- endif -%}
      <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form__el" @submit.prevent="addToCart" :class="{'out-of-stock': !activeVariant.available}">
        <h2 class="product-form__title h3" itemprop="name" data-a-stagger>{{- product.title -}}</h2>
        <div class="product-form__wrapper" data-a-stagger>
          <div class="product-form__info">
            <div class="product-form__price">
              <meta itemprop="priceCurrency" content="USD" />
              <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />

              {%- if product.available -%}
                <span class="hide" itemprop="availability" href="http://schema.org/InStock">{{ 'products.product.available' | t }}</span>
              {%- else -%}
                <span class="hide" itemprop="availability" href="http://schema.org/OutOfStock">{{ 'products.product.unavailable' | t }}</span>
              {%- endif -%}
              {%- if template.suffix == 'gift-card' and product.price_max > product.price_min -%}
                {% comment %} <span>{{ product.price_min | money }} - {{ product.price_max | money }}</span> {% endcomment %}
              {%- else -%}
                <del
                  v-html="formattedCompareAtPrice"
                  v-if="isOnSale"
                >
                  {{ product.compare_at_price | money }}
                </del>
                <span class="product-form__formatted-price" :class="{'product-form__formatted-price--on-sale' : isOnSale }" v-html="formattedPrice">{{- product.price | money -}}</span>
                <span class="product-form__discount-message" v-html="bundleDiscountMessage" v-if="isBundle && isOnSale"></span>
              {%- endif -%}
            </div>
          </div>
          {%- if template.suffix != 'gift-card' -%}
            <div is="afterpay-priceline" id="{{afterpay_id | default: 'pdp-afterpay'}}" v-if="activeVariant" :amount="activeVariant.price" :load="true"></div>
          {%- endif -%}
          {%- unless product.has_only_default_variant -%}
            <div class="product-form__variants {% if show_color_swatch %} product-form__variants--swatches{% endif %}">
              {%- for option in product.options_with_values -%}
                {%- assign option_name = option.name | downcase -%}
                {%- if option_name == 'color' and show_color_swatch == true -%}
                  <div class="w1 product-form__variants__item product-form__variants__item--color">
                    <div class="product-color-swatch__title">
                      <span>Color:</span>
                      <span class="product-form__variants__value" v-html="selectedOptions['Color']"></span>
                    </div>
                    <ul class="product-color-swatch__list">
                      {%- for value in option.values -%}
                        <li class="product-color-swatch__item">
                          <div
                            is="color-circle"
                            @click="updateSelectedOption('{{option.name}}', '{{value}}')"
                            :is-active="selectedOptions['{{option.name}}'] == '{{value}}'"
                            option-name="{{- option.name -}}"
                            option-value="{{- value -}}"
                            title="{{value}}"></div>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- elsif selector_style == 'block' -%}
                  <div class="w1 product-form__variants__item product-form__variants__item--{{- option_name | handleize -}}">
                    <div class="relative f jcb">
                      <div>
                        <span>{{option.name}}:</span>
                        <span class="product-form__variants__value" v-html="selectedOptions['{{option.name}}']"></span>
                      </div>

                      {%- if enable_size_guide -%}
                        {%- if option_name == 'size' and content_size_guide != blank -%}
                          <button
                            class="content-drawer__btn"
                            @click.prevent="openSizeGuideModal('{{- content_size_guide -}}')"
                          >
                            {{- button_text_size_guide -}}
                          </button>
                        {%- elsif option_name == top_size and content_size_guide_top != blank -%}
                          <button
                            class="content-drawer__btn"
                            @click.prevent="openSizeGuideModal('{{- content_size_guide_top -}}')"
                          >
                            {{- button_text_size_guide -}}
                          </button>
                        {%- elsif option_name == bottom_size and content_size_guide_bottom != blank -%}
                          <button
                            class="content-drawer__btn"
                            @click.prevent="openSizeGuideModal('{{- content_size_guide_bottom -}}')"
                          >
                            {{- button_text_size_guide -}}
                          </button>
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                    <ul class="product-form__variants-block">
                      {%- for value in option.values -%}
                        <li class="product-form__variants-block__item p2 align-c">
                          {%- capture option_name_value -%}{{- option.name -}} {{- value -}}{%- endcapture -%}
                          <input type="radio"
                            id="{{- option_name_value | handleize -}}"
                            class="product-form__variants__checkbox"
                            name="{{- option.name -}}"
                            value="{{- value | escape -}}"
                            :checked="selectedOptions['{{option.name}}'] == '{{value}}'"
                            @change="updateSelectedOption('{{option.name}}', '{{value}}')"
                            {%- if forloop.index == 1 -%}checked{%- endif -%} />
                          <label
                            :is-active="selectedOptions['{{option.name}}'] == '{{value}}'"
                            for="{{- option_name_value | handleize -}}"
                            class="product-form__variants__checkbox__wrapper">
                            {{- value | remove: '.00' -}}
                          </label>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- else -%}
                  <div class="product-form__variants__item product-form__variants__item--{{- option_name | handleize -}}">
                    {%- capture dynamic_options -%}
                    [
                      {%- for value in option.values -%}
                        {label: '{{ value }}', value: '{{ value }}'}{%- unless forloop.last -%},{%- endunless -%}
                      {%- endfor -%}
                    ]
                    {%- endcapture -%}
                    {%- capture dynamic_value -%}
                      getOptionValue('{{ option.name }}')
                    {%- endcapture -%}

                    {%- assign label = option.name -%}
                    {%- if class == 'product-form--sticky' -%}
                      {%- if option.name == 'Top Size' or option.name == 'Bottom Size' -%}
                        {%- assign label = option.name | remove: ' Size' -%}
                      {%- endif -%}
                    {%- endif -%}

                    {%- render 'select-input' with
                      name: option.name,
                      label: label,
                      v_value: dynamic_value,
                      dynamic_options: dynamic_options,
                      change: 'onSelectChange'
                    -%}

                    {%- if enable_size_guide -%}
                      {%- if option_name == 'size' and content_size_guide != blank -%}
                        <button
                          class="content-drawer__btn"
                          @click.prevent="openSizeGuideModal('{{- content_size_guide -}}')"
                        >
                          {{- button_text_size_guide -}}
                        </button>
                      {%- elsif option_name == top_size and content_size_guide_top != blank -%}
                        <button
                          class="content-drawer__btn"
                          @click.prevent="openSizeGuideModal('{{- content_size_guide_top -}}')"
                        >
                          {{- button_text_size_guide -}}
                        </button>
                      {%- elsif option_name == bottom_size and content_size_guide_bottom != blank -%}
                        <button
                          class="content-drawer__btn"
                          @click.prevent="openSizeGuideModal('{{- content_size_guide_bottom -}}')"
                        >
                          {{- button_text_size_guide -}}
                        </button>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endfor -%}

              <noscript>
                <select name="id" data-product-select aria-label="Select Variant">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                        {{ variant.title }}
                      </option>
                    {% else %}
                      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </noscript>
            </div>
          {%- endunless -%}

          {%- capture quantity_selector -%}
            <div class="f aic">
              {%- render 'quantity-selector',
                initial: 'quantity',
                key: 'activeVariant.id'
                max: 'maximumQuantity',
                disabled: '!hasVariant || !activeVariant.available',
                on_change: "quantity = $event" -%}
            </div>
          {%- endcapture -%}

          {%- render 'back-in-stock' -%}

          <div class="product-form__add-to-cart">
            <div class="product-form__quantity">
              <label class="product-options__label p2">{{- 'products.product.quantity' | t -}}</label>
              {{- quantity_selector -}}
            </div>

            {%- capture submit_button_content -%}
              <template v-if="showPriceInButton">
                <span v-text="submitButtonText"></span>
                <span class="button__separator">&#x2022;</span>
                <span class="button__price" v-text="formattedPrice"></span>
              </template>
              <template v-else>
                <span v-text="submitButtonText"></span>
              </template>
            {%- endcapture -%}

            <div class="product-options__row is-submit">
              <div class="product-options__item" v-if="activeVariant && activeVariant.available === false">
                {%- if settings.klaviyo_bis_enable -%}
                  {%- render 'button',
                    type: 'button',
                    class: 'btn btn--primary btn--full-width btn--product-form klaviyo-bis-trigger',
                    value: notify_me -%}
                {% else %}
                  {%- render 'button',
                    type: 'button',
                    class: 'btn btn--primary btn--full-width btn--product-form',
                    attr: '
                    :disabled="!hasVariant || !activeVariant.available"
                    :aria-label="submitButtonText"
                    ',
                    value: sold_out -%}
                {%- endif -%}
              </div>
              <div v-else>
                {%- render 'button',
                  type: 'submit',
                  class: 'btn btn--primary btn--full-width product-form__btn js-add-to-cart'
                  attr: '
                    :disabled="!hasVariant || !activeVariant.available"
                    :aria-label="submitButtonText"
                  ',
                  value: submit_button_content -%}
              </div>
            </div>
          </div>
          {%- unless class == 'product-form--sticky' -%}
            <div class="product-form__preorder wysiwyg" v-if="preOrderMessage" v-html="preOrderMessage">
            </div>
            {{product_tags}}
          {%- endunless -%}
        </div>
      </form>

      {%- if enable_size_guide -%}
        {%- if content_size_guide != blank or content_size_guide_top != blank or content_size_guide_bottom != blank -%}
          {%- render 'modal',
            class: 'modal--content-drawer wysiwyg wysiwyg--content-drawer',
            show_modal: 'showModal',
            content: 'modalContent',
            is_tabbed_content: true,
            bind_dynamic_props: true,
            is_slide_out: true,
            slide_out_title: title_size_guide,
            display_prefix_only: true,
            on_close: 'closeModal'
          -%}
        {%- endif -%}
      {%- endif -%}
      <p class="sr-only" ref="productStatus" aria-live="polite" role="status" aria-hidden="true"></p>
      <p class="sr-only" ref="addToCartStatus" aria-live="assertive" role="alert" aria-hidden="true">Adding product to your cart</p>
    </div>
  </div>
</div>
