{%- comment -%}
  Parameters
  * blocks
{%- endcomment -%}
{%- assign product_details_enable = product.metafields.product_details.enable -%}
{%- assign product_details_item = product.metafields.product_details_item -%}

<div class="product-description" data-module="product-description" data-a-group>
  <div class="product-description__body product-description__body--basic" data-a-stagger>
    <div>{{- product.description -}}</div>
  </div>

  {%- if template.suffix != 'gift-card' -%}
    {%- if product_details_enable -%}
      {%- if product_details_item.title.size > 0 -%}
        <ul class="product-description__list" data-a-stagger>
          {%- for title in product_details_item.title -%}
            {%- assign content = product_details_item.content[forloop.index0] -%}
            <li
              class="product-description__item"
              :class="{'is-active': (activeAccordion == 'accordion-{{- forloop.index -}}')}"
              @click="toggleAccordion('accordion-{{- forloop.index -}}')">
              <button type="button" :aria-expanded="activeAccordion == 'accordion-{{- forloop.index -}}' ? 'true' : 'false'" aria-controls="product-description-{{- forloop.index -}}" class="w1 p2 align-l product-description__title block h5">
                {{- title -}}
              </button>
              <div :class="{'is-active': (activeAccordion == 'accordion-{{- forloop.index -}}')}" id="product-description-{{- forloop.index -}}" class="product-description__item-body" :style="{maxHeight: height('accordion-{{- forloop.index -}}')}">
                <div class="rte product-description__content" ref="accordion-{{forloop.index}}">
                  <div class="product-description__content-inner">
                    {{- content -}}
                  </div>
                </div>
              </div>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- elsif blocks.size > 0 -%}
      <ul class="product-description__list" data-a-stagger>
        {%- for item in blocks -%}
          {%- if item.type != 'Accordion' -%}
            {% continue %}
          {%- endif -%}

          {%- assign title = item.settings.title -%}
          {%- assign content = item.settings.text -%}
          <li
            class="product-description__item"
            :class="{'is-active': (activeAccordion == 'accordion-{{- forloop.index -}}')}"
            @click="toggleAccordion('accordion-{{- forloop.index -}}')">
            <button type="button" :aria-expanded="activeAccordion == 'accordion-{{- forloop.index -}}' ? 'true' : 'false'" aria-controls="product-description-{{- forloop.index -}}" class="w1 p2 align-l product-description__title block h5">
              {{- title -}}
            </button>
            <div :class="{'is-active': (activeAccordion == 'accordion-{{- forloop.index -}}')}" id="product-description-{{- forloop.index -}}" class="product-description__item-body" :style="{maxHeight: height('accordion-{{- forloop.index -}}')}">
              <div class="rte product-description__content" ref="accordion-{{forloop.index}}">
                <div class="product-description__content-inner">
                  {{- content -}}
                </div>
              </div>
            </div>
          </li>
          {%- assign title = nil -%}
          {%- assign content = nil -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endif -%}
</div>
