{%- comment -%}
  Parameters
  * variants
  * active_color
  * options_with_values
  * selected_variant
  * in_viewport
  * on_change
  * class
  * has_only_default_variant
  * first_available_variant
{%- endcomment -%}

{%- assign quick_add_to_cart_mobile_display = settings.quick_add_to_cart_mobile_display | default: 'below' -%}
{%- assign quick_add_to_cart_desktop_display = settings.quick_add_to_cart_desktop_display | default: 'below' -%}
{%- assign add_to_cart = 'products.product.add_to_cart' | t -%}
{%- assign sold_out = 'products.product.sold_out' | t -%}
{%- assign unavailable = 'products.product.unavailable' | t -%}

{%- capture css -%}
  quick-add-to-cart quick-add-to-cart--mobile-{{ quick_add_to_cart_mobile_display }} quick-add-to-cart--desktop-{{ quick_add_to_cart_desktop_display }}{% if class != blank %} {{ class }}{% endif %}
{%- endcapture -%}

{% if options_with_values != blank %}
  {%- capture quick_add_to_cart_main -%}
    <div class="quick-add-to-cart__main" :class="{ 'is-active': isActive }">
      <div class="relative quick-add-to-cart__inner">
        <button
          type="button"
          class="quick-add-to-cart__close"
          ref="closeButton"
          @click="hideQuickAddToCart"
          aria-label="Close Quick Add to Cart">
          {%- render 'icon' with 'icon-close' -%}
        </button>

        <div class="quick-add-to-cart__options">
          <div
            class="relative quick-add-to-cart__option"
            v-for="item in variantOptions"
            v-if="item.name.toLowerCase() !== 'color'">
            <select
              class="w1 quick-add-to-cart__select"
              :aria-label="item.name"
              :name="item.name"
              v-if="item.values.length"
              @change="onOptionSelect(item, $event)"
              :key="item.name + item.value"
            >
              <option
                :value="item.value"
                v-for="item in item.values"
                v-html="item.label ? item.label: item.value"
                :selected="item.selected"
                :disabled="!item.available"
              ></option>
            </select>

            <span class="quick-add-to-cart__icon">
                {%- render 'icon' with 'arrow-small' -%}
              </span>
          </div>
        </div>

        {%- render 'button',
          v_value: 'submitButtonText',
          attr: '@click.prevent="addToCart" :disabled="isSubmitButtonDisabled"',
          class: ' btn--primary btn--full-width quick-add-to-cart__button' -%}
      </div>
    </div>
  {%- endcapture -%}

  <div
    is="quick-add-to-cart"
    :product="{{ product }}"
    :variants="{{ variants }}"
    :active-color="{{ active_color }}"
    :options-with-values="{{ options_with_values }}"
    :selected-variant="{{ selected_variant }}"
    :in-viewport="{{ in_viewport }}"
    add-to-cart-text="{{ add_to_cart }}"
    sold-out-text="{{ sold_out }}"
    unavailable-text="{{ unavailable }}"
    :has-only-default-variant="{{ has_only_default_variant }}"
    :first-available-variant="{{ first_available_variant }}"
    {%- if on_change -%}@change="{{- on_change -}}"{%- endif -%}
    inline-template>
    <div class="{{- css | strip -}}" :class="{ 'is-active': isActive, 'is-touch': isTouch }" v-click-outside="handleClickOutside">
      <template v-if="!hasOnlyDefaultVariant">
        <div class="quick-add-to-cart__trigger">
          {%- render 'button',
            value: 'Add To Bag',
            v_value: 'submitButtonText',
            attr: '@click="showQuickAddToCart" :disabled="isSubmitButtonDisabled"',
            class: ' btn--primary btn--full-width quick-add-to-cart__button' -%}
        </div>

        <template>
          <mounting-portal mount-to="#quick-add-to-cart" v-if="isActive" append>
            {{- quick_add_to_cart_main -}}
          </mounting-portal>
        </template>

        <div class="quick-add-to-cart__wrapper">{{- quick_add_to_cart_main -}}</div>
      </template>
      <template v-if="hasOnlyDefaultVariant">
        <div class="quick-add-to-cart__trigger">
          {%- render 'button',
            v_value: 'submitButtonText',
            attr: '@click.prevent="addToCart" :disabled="!firstAvailableVariant"',
            class: 'btn--primary btn--full-width quick-add-to-cart__button' -%}
        </div>
      </template>
    </div>
  </div>
{%- endif -%}
