{%- assign search_types = settings.search_mode | split: ',' -%}
{%- capture tabs_json -%}
  [
  {%- for type in search_types -%}
    {%- paginate search.results by search.results_count -%}
      {%- assign results_by_type = search.results | where: "object_type", type -%}
    {%- endpaginate -%}
    {%- assign tab_title = type | append: 's' | capitalize -%}
    {%- assign count = results_by_type.size -%}
    {
      "type": {{ type | json }},
      "title": {{ tab_title | json }},
      "count": {{ count | json }}
    }{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
  ]
{%- endcapture -%}

<nav
  class="search-tab"
  is="search-tab"
  :tabs='{{ tabs_json }}'
  search-terms={{ search.terms | json }}
  inline-template>
  <ul class="search-tab__list f fw jcc">
    <li
      v-for="(tab, index) in tabs"
      :key="index"
      class="search-tab__item"
      :class='{"search-tab__item--active": activatedType === tab.type}'
    >
      <a
        href="#"
        @click.prevent="handleClick(tab)"
      >
        {% raw %}{{ tab.title }} ({{ tab.count }}){% endraw %}
      </a>
    </li>
  </ul>
</nav>
