{%- comment -%}
  Parameters
  * section
  * id
  * class
{%- endcomment -%}

{%- if section != blank -%}
  {%- assign title = 'general.search.search_title' | t -%}
  {%- assign text = 'general.search.results_for_html' | t: terms: search.terms, number: search.results_count -%}
  {%- if settings.show_type_tab -%}
    {%- capture text -%}{% raw %}{{ heroText }}{% endraw %}{%- endcapture -%}
  {%- endif -%}

  {%- capture css -%}
    search-hero {{ class }}
  {%- endcapture -%}
  <section class="{{- css | strip -}}" data-module="search-hero">
    <div class="search-hero__wrapper">
      <div class="search-hero__inner">
        {%- case section.background_type -%}
        {%- when 'image' -%}
          {%- assign image = section['image'] | img_url: '2160x' -%}
          {%- assign image_intermediate = section['image_intermediate'] | img_url: '1200x' -%}
          {%- assign image_mobile = section['image_mobile'] | img_url: '700x' -%}
          {%- capture image_sources -%}
            {%- if section['image_mobile'] != blank -%}
              {{- image_mobile -}}
            {%- endif -%}
            {%- if section['image_intermediate'] != blank -%}
              |{{- image_intermediate -}}
            {%- endif -%}
            {%- if section['image'] != blank -%}
              |{{- image -}}
            {%- endif -%}
          {%- endcapture  -%}

          {%- capture breakpoints -%}
            {%- if section['image_mobile'] != blank -%}
              (max-width: 767px)
            {%- endif -%}
            {%- if section['image_intermediate'] != blank -%}
              |(max-width: 999px)
            {%- endif -%}
            {%- if section['image'] != blank -%}
              |(min-width: 1000px)
            {%- endif -%}
          {%- endcapture  -%}

          {%- render 'hero' with 'image',
            inverted_mode: section['inverted_mode'],
            enable_overlay: section['enable_overlay'],
            overlay_opacity: section['overlay_opacity'],
            tagline: section['tagline'],
            title: section['title'],
            title_style: section['title_style'],
            text: text,
            position: section['position'],
            alignment: section['alignment'],
            margin_top: section['margin_top'],
            margin_top_s: section['margin_top_s'],
            margin_top_l: section['margin_top_l'],
            image_sources: image_sources,
            breakpoints: breakpoints,
            ratio: section['ratio'],
            ratio_s: section['ratio_s'],
            ratio_l: section['ratio_l'],
            max_height: section['max_height'],
            max_height_s: section['max_height_s'],
            max_height_l: section['max_height_l'],
            id: id,
            is_vue: true
          -%}

        {%- when 'video' %}
          {%- assign fallback = section['image_mobile'] | img_url: '700x' -%}
          {%- assign fallback_s = section['image_intermediate'] | img_url: '1200x' -%}
          {%- assign fallback_l = section['image'] | img_url: '2160x' -%}

          {%- render 'hero' with 'video',
            inverted_mode: section['inverted_mode'],
            enable_overlay: section['enable_overlay'],
            overlay_opacity: section['overlay_opacity'],
            tagline: section['tagline'],
            title: section['title'],
            title_style: section['title_style'],
            text: text,
            position: section['position'],
            alignment: section['alignment'],
            margin_top: section['margin_top'],
            margin_top_s: section['margin_top_s'],
            margin_top_l: section['margin_top_l'],
            video: section['video'],
            video_s: section['video_s'],
            video_l: section['video_l'],
            fallback: fallback,
            fallback_s: fallback_s,
            fallback_l: fallback_l,
            ratio: section['ratio'],
            ratio_s: section['ratio_s'],
            ratio_l: section['ratio_l'],
            max_height: section['max_height'],
            max_height_s: section['max_height_s'],
            max_height_l: section['max_height_l'],
            id: id,
            is_vue: true
          -%}

        {%- when 'none' %}
          {%- render 'hero' with 'none',
            inverted_mode: section['inverted_mode'],
            enable_overlay: section['enable_overlay'],
            overlay_opacity: section['overlay_opacity'],
            tagline: section['tagline'],
            title: section['title'],
            title_style: section['title_style'],
            text: text,
            position: section['position'],
            alignment: section['alignment'],
            margin_top: section['margin_top'],
            margin_top_s: section['margin_top_s'],
            margin_top_l: section['margin_top_l'],
            ratio: section['ratio'],
            ratio_s: section['ratio_s'],
            ratio_l: section['ratio_l'],
            max_height: section['max_height'],
            max_height_s: section['max_height_s'],
            max_height_l: section['max_height_l'],
            id: id,
            is_vue: true
          -%}
        {%- endcase -%}
      </div>
    </div>
  </section>
{%- endif -%}
