{%- comment -%}
  Parameters
  * tagline
  * title
  * cta_text
  * cta_url
  * cta_text_all
  * cta_url_all
  * class
  * post_cards
  * is_post
  * paginate
  * additional_content
  * button_style
{%- endcomment -%}

{% assign button_style = button_style | default: nil %}

<section class="three-up three-up--{{ request.page_type | handle }}{% if class != blank %} {{ class }}{% endif %}">
  <div class="three-up__container container container--xl" data-a-group>
    {%- render 'module-header',
      tagline: tagline,
      title: title -%}
    <div class="three-up__wrapper" data-a-stagger>
      {%- for post_card in post_cards -%}
        {%- assign item = post_card.settings -%}
        {%- assign title = item['title'] -%}
        {%- assign tag = item['tag'] -%}
        {%- assign text = item['text'] -%}
        {%- assign image_alt = item['image'].alt -%}
        {%- assign cta_text = item['cta_text'] | default: 'Read more' -%}
        {%- assign cta_url = item['cta_url'] -%}
        {%- assign image = item['image'] | img_url: '800x' -%}
        {%- assign image_intermediate = item['image_intermediate'] | img_url: '600x' -%}
        {%- assign image_mobile = item['image_mobile'] | img_url: '600x' -%}
        {%- assign image_mobile = item['image_mobile'] | img_url: '600x' -%}

        {%- capture image_sources -%}
          {%- if image_mobile != blank -%}
            {{- image_mobile -}}
          {%- endif -%}
          {%- if image_intermediate != blank -%}
            |{{- image_intermediate -}}
          {%- endif -%}
          {%- if image != blank -%}
            |{{- image -}}
          {%- endif -%}
        {%- endcapture  -%}

        {%- capture breakpoints -%}
          {%- if image_mobile != blank -%}
            (max-width: 619px)
          {%- endif -%}
          {%- if image_intermediate != blank -%}
            |(max-width: 999px)
          {%- endif -%}
          {%- if image != blank -%}
            |(min-width: 1000px)
          {%- endif -%}
        {%- endcapture  -%}

        {%- capture image_src_media -%}
          <source media="(max-width: 619px)" data-srcset="{{- image_mobile -}}">
          <source media="(min-width: 620px) and (max-width: 999px)" data-srcset="{{- image_intermediate -}}">
          <source media="(min-width: 1000px)" data-srcset="{{- image -}}">
        {%- endcapture -%}

        {%- if item.article != blank or is_post -%}
          {%- if item.article != blank -%}
            {%- assign article = articles[item.article] -%}
          {%- else -%}
            {%- assign article = post_card -%}
          {%- endif -%}
          {%- assign image_alt = article.image.alt -%}
          {%- assign image_sources = article.image.src | img_url: '600x' -%}
          {%- assign title = article.title -%}
          {%- capture text -%}
            {%- if article.excerpt != blank -%}
              {{- article.excerpt | strip_html -}}
            {%- else -%}
              {{- article.content | strip_html | truncatewords: 10, "..." -}}
            {%- endif -%}
          {%- endcapture -%}
          {%- assign cta_url = article.url -%}
          {%- capture tag  -%}
            {%- for tag in article.tags -%}
              {%- if tag contains 'category-' -%}
                  {{- tag | replace: "category-", "" | replace: "-", " " -}}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endcapture -%}

          {%- assign video_url = article.metafields.media.video_url -%}
          {%- assign hover_image = article.metafields.media.hover_image -%}
          {%- assign hover_image_s = article.metafields.media.hover_image_s -%}
          {%- assign hover_image_l = article.metafields.media.hover_image_l -%}

          {%- assign class = 'post-card--three-up' -%}
          {%- if video_url != blank -%}
            {%- assign class = class | append: ' post-card--video' -%}
          {%- endif -%}

          {%- capture image_hover_sources -%}
            {%- if hover_image != blank -%}
              {{- hover_image[0].src -}}
            {%- endif -%}
            {%- if hover_image_s != blank -%}
              |{{- hover_image_s[0].src -}}
            {%- endif -%}
            {%- if hover_image_l != blank -%}
              |{{- hover_image_l[0].src -}}
            {%- endif -%}
          {%- endcapture  -%}
        {%- endif -%}

        {%- if hide_link -%}
          {%- assign cta_text = '' -%}
          {%- assign cta_url = '' -%}
        {%- endif -%}

        {% assign additional_content = nil %}
        {% if cta_text != blank and cta_url != blank and button_style == 'button' %}
          {% capture additional_content %}
            <div class="post-card__footer align-c">
              <span class="btn btn--primary">
                <div class="button__el">{{- cta_text -}}</div>
              </span>
            </div>
          {% endcapture %}
        {% endif %}

        {%- render 'post-card',
          class: class,
          title: title,
          tag: tag,
          text: text,
          image_alt: image_alt,
          image_sources: image_sources,
          image_hover_sources: image_hover_sources,
          breakpoints: breakpoints,
          cta_text: cta_text,
          cta_url: cta_url,
          button_style: button_style,
          object_fit: 'contain',
          additional_content: additional_content -%}
      {%- endfor -%}
    </div>

    {%- if cta_text != blank and cta_url != blank and is_post == blank and hide_bottom_button != 'hide' -%}
      <div class="align-c three-up__footer">
        {%- render 'button',
          class: 'three-up__cta btn btn--primary',
          value: cta_text_bottom,
          href: cta_url,
          type: 'link'
        -%}
      </div>
    {%- endif -%}
  </div>

  {%- if paginate.pages > 1 -%}
    {%- render 'pagination',
      class: 'pagination--three-up'
      paginate: paginate
    -%}
  {%- endif -%}

  {%- if cta_text_all != blank and cta_url_all != blank and hide_bottom_button != 'hide' -%}
    <div class="align-c three-up__footer">
      {%- render 'button'
        class: 'three-up__btn btn--primary',
        value: cta_text_all,
        type: 'link',
        href: cta_url_all -%}
    </div>
  {%- endif -%}
</section>
