{%- if section.image != blank -%}
  {%- assign image = section.image | img_url: '700x' -%}
{%- endif -%}

{%- if section.image_s != blank -%}
  {%- assign image_s = section.image_s | img_url: '1200x' -%}
{%- endif -%}

{%- if section.image_l != blank -%}
  {%- assign image_l = section.image_l | img_url: '2160x' -%}
{%- endif -%}

{%- assign image_alt = image_l.alt -%}

{%- capture image_sources -%}
  {%- if image != blank -%}
    {{- image -}}
  {%- endif -%}
  {%- if image_s != blank -%}
    |{{- image_s -}}
  {%- endif -%}
  {%- if image_l != blank -%}
    |{{- image_l -}}
  {%- endif -%}
{%- endcapture  -%}

{%- capture breakpoints -%}
  {%- if image != blank -%}
    (max-width: 767px)
  {%- endif -%}
  {%- if image_s != blank -%}
    |(max-width: 999px)
  {%- endif -%}
  {%- if image_l != blank -%}
    |(min-width: 1000px)
  {%- endif -%}
{%- endcapture  -%}

{%- if section.sharing_image != blank -%}
  {%- assign sharing_image = section.sharing_image | img_url: '700x' -%}
{%- endif -%}

{%- if section.sharing_image_s != blank -%}
  {%- assign sharing_image_s = section.sharing_image_s | img_url: '1200x' -%}
{%- endif -%}

{%- if section.sharing_image_l != blank -%}
  {%- assign sharing_image_l = section.sharing_image_l | img_url: '2160x' -%}
{%- endif -%}

{%- assign sharing_image_alt = sharing_image_l.alt -%}

{%- capture sharing_image_sources -%}
  {%- if sharing_image != blank -%}
    {{- sharing_image -}}
  {%- endif -%}
  {%- if sharing_image_s != blank -%}
    |{{- sharing_image_s -}}
  {%- endif -%}
  {%- if sharing_image_l != blank -%}
    |{{- sharing_image_l -}}
  {%- endif -%}
{%- endcapture  -%}

{%- capture sharing_breakpoints -%}
  {%- if sharing_image != blank -%}
    (max-width: 767px)
  {%- endif -%}
  {%- if sharing_image_s != blank -%}
    |(max-width: 999px)
  {%- endif -%}
  {%- if sharing_image_l != blank -%}
    |(min-width: 1000px)
  {%- endif -%}
{%- endcapture  -%}

<div class="viral-loops" data-module="viral-loops">
  <div class="container container--xl viral-loops__container">
    <div class="viral-loops__form-wrapper viral-loops__form-wrapper--{{ section.image_position | default: 'right' }}" ref="formWrapper">
      <div
        v-if="!isIdentified && '{{- image_sources -}}' !== ''"
        v-cloak
        class="viral-loops__form-image-wrapper ratio"
        style="--width: {{- section.image_width | default: 50 -}}%"
      >
        {%- render 'picture',
          class: 'viral-loops__form-image',
          bind_dynamic_props: false,
          sources: image_sources,
          breakpoints: breakpoints,
          width: 100,
          width_s: 50,
          width_m: 50,
          width_l: 33,
          alt: image_alt,
          loader: false,
          is_vue: true
        -%}

        {%- if section.badge != blank -%}
          <div class="viral-loops__badge">
            {%- assign badge = section.badge | img_url: '200x' -%}

            {%- render 'picture',
              class: 'viral-loops__badge-image',
              bind_dynamic_props: false,
              sources: badge
              alt: section.badge.alt
              loader: false,
              is_vue: true
            -%}
          </div>
        {%- endif -%}
      </div>
      <div
        v-if="isIdentified && '{{- sharing_image_sources -}}' !== ''"
        v-cloak
        class="viral-loops__sharing-image-wrapper ratio"
        style="--width: {{- section.sharing_image_width | default: 50 -}}%"
      >
        {%- render 'picture',
          class: 'viral-loops__sharing-image',
          bind_dynamic_props: false,
          sources: sharing_image_sources,
          breakpoints: sharing_breakpoints,
          width: 100,
          width_s: 50,
          width_m: 50,
          width_l: 33,
          alt: sharing_image_alt,
          loader: false,
          is_vue: true
        -%}

        {%- if section.sharing_badge != blank -%}
          <div class="viral-loops__badge">
            {%- assign badge = section.sharing_badge | img_url: '200x' -%}

            {%- render 'picture',
              class: 'viral-loops__badge-image',
              bind_dynamic_props: false,
              sources: badge,
              alt: section.sharing_badge.alt,
              loader: false,
              is_vue: true
            -%}
          </div>
        {%- endif -%}
      </div>
      <div class="viral-loops__form">
        <div class="viral-loops__form-inner">
          <div
            v-show="isIdentified"
            v-cloak
            class="viral-loops__form-widget"
          >
            {%- if section.sharing_title != blank -%}
              <h2 class="h3 viral-loops__form-widget-title">
                {{- section.sharing_title -}}
              </h2>
            {%- endif -%}

            {%- if section.sharing_description != blank -%}
              <div class="viral-loops__form-widget-description">
                {{- section.sharing_description -}}
              </div>
            {%- endif -%}

            <div
              v-show="isFormLoading"
              v-cloak
              class="viral-loops__loader"
            ></div>
            <div
              v-show="!isFormLoading"
              data-vl-widget="embedForm"
            ></div>
          </div>
          <div
            v-if="!isIdentified"
            class="viral-loops__custom-form"
          >
            {%- if section.form_title != blank -%}
              <h1 class="h3 viral-loops__custom-form-title">
                {{- section.form_title -}}
              </h1>
            {%- endif -%}
            {%- if section.form_description != blank -%}
              <div class="viral-loops__custom-form-description">
                {{- section.form_description -}}
              </div>
            {%- endif -%}

            {%- if section.form_subtitle != blank -%}
              <div class="h4 viral-loops__form-widget-subtitle">
                {{- section.form_subtitle -}}
              </div>
            {%- endif -%}

            <div class="viral-loops__custom-form-group">
              {%- if section.enable_first_name -%}
                <div class="form-row">
                  {%- assign label = 'viral_loops.first_name' | t -%}
                  {%- assign label = section.first_name_label | default: label -%}
                  {%- assign placeholder = 'viral_loops.first_name_placeholder' | t -%}

                  {%- render 'text-input',
                    name: 'first_name',
                    label: label,
                    placeholder: placeholder,
                    show_placeholder: true,
                    ref: 'firstName'
                  -%}
                </div>
              {%- endif -%}

              {%- if section.enable_last_name -%}
                <div class="form-row">
                  {%- assign label = 'viral_loops.last_name' | t -%}
                  {%- assign label = section.last_name_label | default: label -%}
                  {%- assign placeholder = 'viral_loops.last_name_placeholder' | t -%}

                  {%- render 'text-input',
                    name: 'last_name',
                    label: label,
                    placeholder: placeholder,
                    show_placeholder: true,
                    ref: 'lastName'
                  -%}
                </div>
              {%- endif -%}

              <div class="form-row">
                {%- assign label = 'viral_loops.email' | t -%}
                {%- assign label = section.email_label | default: label -%}
                {%- assign placeholder = 'viral_loops.email_placeholder' | t -%}
                {%- assign error_message = 'viral_loops.email_error_message' | t -%}

                {%- render 'text-input',
                  name: 'email',
                  type: 'email',
                  label: label,
                  placeholder: placeholder,
                  show_placeholder: true,
                  required: true,
                  validation: 'isValidEmail',
                  error: error_message,
                  ref: 'email'
                -%}
              </div>

              <div class="form-row">
                {%- render 'button',
                  value: section.button_title,
                  type: 'submit',
                  style: 'primary',
                  class: 'viral-loops__button'
                  attr: '@click="signUp"'
                -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      v-show="isIdentified"
      v-cloak
      class="viral-loops__milestones"
      ref="milestonesWrapper"
    >
      {%- if section.milestone_title != blank -%}
        <h2 class="h3 viral-loops__milestones-title">
          {{- section.milestone_title -}}
        </h2>
      {%- endif -%}

      {%- if section.milestone_description != blank -%}
        <div class="viral-loops__milestones-description">
          {{- section.milestone_description -}}
        </div>
      {%- endif -%}

      <div class="viral-loops__milestones-widget">
        <div
          v-show="isMilestonesLoading"
          v-cloak
          class="viral-loops__loader"
        ></div>
        <div
          v-show="!isMilestonesLoading"
          data-vl-widget="milestoneWidget"
        ></div>
      </div>
    </div>

    {%- if section.terms_content != blank -%}
      <div class="viral-loops__terms p2">
        {{- section.terms_content -}}
      </div>
    {%- endif -%}

    {%- if section.footer_content != blank -%}
      <div class="viral-loops__footer p2">
        {{- section.footer_content -}}
      </div>
    {%- endif -%}
  </div>
</div>
