<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi">

  {%- render 'favicon' -%}

  <title>
    {{ shop.name }} &ndash; {{ settings.password_title }}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta' -%}

  {%- render 'font-faces' -%}

  {%- if settings.is_dev_mode -%}
    {{- 'settings.css' | asset_url | stylesheet_tag -}}
    {{- '/dev/main.js' | script_tag -}}
  {%- else -%}
    {{- 'main.css' | asset_url | stylesheet_tag -}}
  {%- endif -%}
  {{ content_for_header }}
</head>

<body class="wheelbarrow-v0 no-touch template template-{{- template.name -}}">
<a class="skip_link" id="skip_to_content" href="#main">Skip to Main Content</a>

<main class="main js-mobile-content js-main" id="main" role="main">
  <div class="content">
    {{ content_for_layout }}
  </div>
</main>

{%- render 'icon-paths' -%}

{%- unless settings.is_dev_mode -%}
  {{ 'main.js' | asset_url | script_tag }}
{%- endunless -%}

</body>
</html>
