<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ 'commons.css' | asset_url | stylesheet_tag }}
    {{ 'entry-main.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'runtime.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'commons.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'entry-main.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

    <style>
      @font-face {
        font-family: 'Burbank Big Wide';
        src: url({{ 'BurbankBigWide-Medium.woff2' | asset_url }}) format('woff2'),
          url({{ 'BurbankBigWide-Medium.woff' | asset_url }}) format('woff'),
          url({{ 'BurbankBigWide-Medium.ttf' | asset_url }}) format('truetype');
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: 'Burbank Big Wide';
        src: url({{ 'BurbankBigWide-Black.woff2' | asset_url }}) format('woff2'),
          url({{ 'BurbankBigWide-Black.woff' | asset_url }}) format('woff'),
          url({{ 'BurbankBigWide-Black.ttf' | asset_url }}) format('truetype');
        font-weight: 900;
        font-style: normal;
      }

      @font-face {
        font-family: 'Burbank Big Wide';
        src: url({{ 'BurbankBigWide-Bold.woff2' | asset_url }}) format('woff2'),
          url({{ 'BurbankBigWide-Bold.woff' | asset_url }}) format('woff'),
          url({{ 'BurbankBigWide-Bold.ttf' | asset_url }}) format('truetype');
        font-weight: bold;
        font-style: normal;
      }

      @font-face {
        font-family: 'Burbank Small';
        src: url({{ 'BurbankSmall-Black.woff2' | asset_url }}) format('woff2'),
          url({{ 'BurbankSmall-Black.woff' | asset_url }}) format('woff'),
          url({{ 'BurbankSmall-Black.ttf' | asset_url }}) format('truetype');
        font-weight: 900;
        font-style: normal;
      }

      @font-face {
        font-family: 'Burbank Small';
        src: url({{ 'BurbankSmall-Medium.woff2' | asset_url }}) format('woff2'),
          url({{ 'BurbankSmall-Medium.woff' | asset_url }}) format('woff'),
          url({{ 'BurbankSmall-Medium.ttf' | asset_url }}) format('truetype');
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: 'Burbank Small';
        src: url({{ 'BurbankSmall-Bold.woff2' | asset_url }}) format('woff2'),
          url({{ 'BurbankSmall-Bold.woff' | asset_url }}) format('woff'),
          url({{ 'BurbankSmall-Bold.ttf' | asset_url }}) format('truetype');
        font-weight: bold;
        font-style: normal;
      }
    </style>
  </head>

  <body class="gradient template-{{ template.name }}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {%- render 'header-logo' -%}

    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
