<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
  <title>{{ page_title | strip }}</title>

  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TVQ33M5');</script>
  <!-- End Google Tag Manager -->
  {%- render 'preconnect-required-origins' -%}
  {%- render 'favicon' -%}
  {%- render 'seo-title' -%}

  {%- render 'social-meta' -%}
  {%- render 'structured-data' -%}
  {%- render 'font-faces' -%}

  {%- render 'theme-styles',
    is_dev_mode: settings.is_dev_mode
  -%}

  {%- render 'sls-state' -%}

  {% assign exclude_pages = settings.exclude_pages | split: "|" %}
  {% for handle in exclude_pages %}
    {% if page.handle == handle %}
      {% assign is_exclude_page = true %}
    {% endif %}
  {% endfor %}

  {%- if is_exclude_page -%}
    {{ content_for_header }}
  {%- else -%}
    {%- capture header_scripts -%}
      {{ content_for_header }}
    {%- endcapture -%}
    {%- render 'header-scripts',
      content: header_scripts,
      unload_apps: true
    -%}
  {%- endif -%}
</head>

<body class="no-touch template template-{{ template.name }} template-{{- template | split: '.' | last | handle -}}">
  {%- render 'site-header' -%}

  <main class="main js-mobile-content js-main" id="main" role="main">
    <div class="content">
      {{ content_for_layout }}
    </div>
    {%- section 'footer' -%}
  </main>

  {%- if settings.enable_mini_cart -%}
    {%- render 'mini-cart' -%}
  {%- endif -%}

  {%- render 'icon-paths' -%}
  {%- render 'theme-scripts',
    is_dev_mode: settings.is_dev_mode
  -%}

  {% comment %}REQUIRED: theme scripts{% endcomment %}
  <script src="{{ 'runtime.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'commons.js' | asset_url }}" defer="defer"></script>
  <script src="{{- 'main.js' | asset_url -}}" defer></script>
</body>
</html>
