<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
  <title>{{ page_title | strip }}</title>

  {% comment %}REQUIRED: Render fonts{% endcomment %}
  <style>
    @font-face {
      font-family: 'font-name';
      src:
        url("{{ 'font-name.woff2' | asset_url }}") format('woff2'),
        url("{{ 'font-name.woff' | asset_url }}") format('woff'),
        url("{{ 'font-name.ttf' | asset_url }}") format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: optional;
    }
  </style>

  {% comment %}If we have settings.css.liquid - variables from settings{% endcomment %}
  <link type="text/css" href="{{- 'settings.css' | asset_url -}}" rel="stylesheet">

  {% comment %}If we have critical CSS{% endcomment %}
  <style>
    {%- render 'main-critical-css' -%}
  </style>

  {% comment %}REQUIRED: theme styles{% endcomment %}
  <link type="text/css" href="{{- 'main.css' | asset_url -}}" rel="stylesheet">
</head>

<body class="wheelbarrow-v0 no-touch template template-{{ template.name }} template-{{- template | split: '.' | last | handle -}}">
  <a class="skip_link" id="skip_to_content" href="#main">Skip to Main Content</a>

  {%- section 'header' -%}

  <main class="main js-mobile-content js-main" id="main" role="main">
    <div class="content">
      {{ content_for_layout }}
    </div>
  </main>

  {% comment %}REQUIRED: theme scripts{% endcomment %}
  <script src="{{ 'runtime.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'commons.js' | asset_url }}" defer="defer"></script>
  <script src="{{- 'main.js' | asset_url -}}" defer></script>
</body>
</html>
