{% layout none %}

{% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros %}
{% assign formatted_initial_value_stripped = formatted_initial_value | strip_html %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">

  <title>Here's your {{ formatted_initial_value_stripped }} gift card for {{ shop.name }}!</title>
  <meta name="description" content="Here's your gift card!">

  {{ 'modernizr.gift-card.js' | shopify_asset_url | script_tag }}
  {{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!--[if lt IE 9]>
    {{ 'vendor/html5shiv.js' | shopify_asset_url | script_tag }}
  <![endif]-->

  <script type='text/javascript'>
    function selectText(element) {

      var doc = document;
      var text = doc.getElementById(element);

      if (doc.body.createTextRange) { // ms
        var range = doc.body.createTextRange();
        range.moveToElementText(text);
        range.select();
      } else if (window.getSelection) { // moz, opera, webkit
        var selection = window.getSelection();
        var range = doc.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
      }

    }
  </script>
  {%- render 'font-faces' -%}

  {%- if settings.is_dev_mode -%}
    {{- 'settings.css' | asset_url | stylesheet_tag -}}
    {{- '/dev/main.js' | script_tag -}}
  {%- else -%}
    {{- 'main.css' | asset_url | stylesheet_tag -}}
  {%- endif -%}

  <script type="text/javascript">
    var SHOPIFY_CDN = "{{ 'test.jpg' | asset_url }}".split('test.jpg').shift();
    var FILE_CDN = "{{ 'test.jpg' | file_url }}".split('test.jpg').shift();
    var BARREL = {
      cart: {{ cart | json }},
      userLoggedIn: {%- if customer -%}true{%- else -%}false{%- endif -%},
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>
  {{content_for_header}}
</head>
<body class="no-touch template template-{{- template.name -}}">
<div class="wrap">
  {%- render 'site-header' -%}
  <main class="main js-mobile-content js-main" id="main" role="main">
    <div id="gift-card-outer-container" {% if gift_card.expired or gift_card.enabled != true %}class="disabled"{% endif %}>
      <div id="gift-card-inner-container">
        {%- render 'gift-card' -%}
      </div>
    </div>

    {%- section 'footer' -%}
  </main> <!-- / Main -->
</div>

{% if settings.enable_mini_cart %}
  {%- render 'mini-cart' -%}
{% endif %}
{%- render 'icon-paths' -%}

{% unless settings.is_dev_mode %}
  {{ 'main.js' | asset_url | script_tag }}
{% endunless %}
</body>
</html>
